@import "reset.css";
@font-face {
  font-family: "MyriadPro";
  src: url("../font/MyriadProRegular/MyriadProRegular.eot");
  src: url("../font/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../font/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../font/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "MyriadPro";
  src: url("../font/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("../font/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix") format("embedded-opentype"), url("../font/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"), url("../font/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "MyriadPro";
  src: url("../font/MyriadProBold/MyriadProBold.eot");
  src: url("../font/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../font/MyriadProBold/MyriadProBold.woff") format("woff"), url("../font/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}
.sprite.sprite-Bogdan {
  background-position: -5px -5px;
  width: 204px;
  height: 205px;
}
.sprite.sprite-Davalchenko {
  background-position: -219px -5px;
  width: 205px;
  height: 205px;
}
.sprite.sprite-Pashkina {
  background-position: -5px -220px;
  width: 205px;
  height: 205px;
}
.sprite.sprite-Vakulenchik {
  background-position: -220px -220px;
  width: 204px;
  height: 205px;
}
.sprite.sprite-Zolin {
  background-position: -434px -5px;
  width: 204px;
  height: 205px;
}
.sprite.sprite-about-clinic-left {
  background-position: -648px -5px;
  width: 18px;
  height: 36px;
}
.sprite.sprite-about-clinic-right {
  background-position: -676px -5px;
  width: 18px;
  height: 36px;
}
.sprite.sprite-doctor {
  background-position: -648px -51px;
  width: 151px;
  height: 151px;
}
.sprite.sprite-experts-left {
  background-position: -704px -5px;
  width: 12px;
  height: 20px;
}
.sprite.sprite-experts-right {
  background-position: -726px -5px;
  width: 12px;
  height: 20px;
}
.sprite.sprite-feedback-logo {
  background-position: -648px -212px;
  width: 33px;
  height: 57px;
}
.sprite.sprite-footer-logo {
  background-position: -748px -5px;
  width: 65px;
  height: 24px;
}
.sprite.sprite-list {
  background-position: -434px -279px;
  width: 151px;
  height: 150px;
}
.sprite.sprite-logo {
  background-position: -691px -212px;
  width: 133px;
  height: 50px;
}
.sprite.sprite-loupe {
  background-position: -809px -39px;
  width: 16px;
  height: 17px;
}
.sprite.sprite-network {
  background-position: -595px -279px;
  width: 150px;
  height: 150px;
}
.sprite.sprite-placeholder {
  background-position: -5px -439px;
  width: 151px;
  height: 150px;
}
.sprite.sprite-time {
  background-position: -166px -439px;
  width: 151px;
  height: 150px;
}
.sprite.sprite-up {
  background-position: -755px -272px;
  width: 20px;
  height: 20px;
}
body {
  font-family: "MyriadPro", sans-serif;
}
.header {
  background: url(../img/header-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 64px;
}
a {
  color: #ffffff;
}
.header__logo-link {
  display: inline-block;
}
.menu {
  padding-top: 18px;
}
.menu__list {
  font-size: 0;
  text-align: center;
}
.menu__list-item {
  display: inline-block;
  font-size: 12px;
  padding: 0 15px;
  transform: scaleX(0.87);
}
.header__phone {
  padding-top: 18px;
}
.header__button {
  width: 160px;
  height: 35px;
  margin-top: 7px;
  background: none;
  font-size: 11px;
  font-weight: 700;
  outline: 2px solid #b1e06f;
  text-transform: uppercase;
  text-align: center;
  padding-top: 13px;
}
.header__button:hover {
  cursor: pointer;
}
.header__presentation {
  text-align: center;
  padding-top: 27vh;
}
.header__presentation-heading {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 57px;
}
.header__presentation-text {
  font-size: 21px;
  color: #b1e06f;
}
.modal-booking-radio {
  display: none;
}
.modal-booking-radio:checked + .modal-booking {
  display: block;
}
.modal-booking {
  display: none;
  width: 437px;
  height: 506px;
  background: #ffffff;
  padding: 32px 42px 36px 42px;
  position: fixed;
  left: 33.3%;
  top: 15%;
  z-index: 2;
}
.modal-booking__button {
  color: #7c7d83;
  font-size: 18px;
  margin-bottom: 25px;
  float: left;
  font-size: 15px;
  text-transform: none;
  float: right;
  position: relative;
  top: -15px;
}
.modal-booking__button:hover {
  cursor: pointer;
}
.modal-booking__heading {
  color: #292c3a;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 29px;
  border-bottom: 2px solid #b1e06f;
  margin-bottom: 55px;
  margin-bottom: 27px;
}
.modal-booking__text {
  color: #7c7d83;
  font-size: 18px;
  margin-bottom: 25px;
  float: left;
  font-size: 15px;
  text-transform: none;
}
.modal-booking__callback-text {
  color: #7c7d83;
  font-size: 18px;
  margin-bottom: 25px;
  float: left;
  text-transform: none;
}
.modal-booking__callback-input-name {
  width: 321px;
  height: 57px;
  background: #f3f3f3;
  padding: 22px 22px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #bfbfc2;
  float: left;
  width: 350px;
  margin-bottom: 26px;
}
.modal-booking__callback-input-name::-webkit-input-placeholder {
  color: #bfbfc2;
}
.modal-booking__callback-input-name::-moz-placeholder {
  color: #bfbfc2;
}
.modal-booking__callback-input-name:-moz-placeholder {
  color: #bfbfc2;
}
.modal-booking__callback-input-name:-ms-input-placeholder {
  color: #bfbfc2;
}
.modal-booking__callback-input-phone {
  width: 321px;
  height: 57px;
  background: #f3f3f3;
  padding: 22px 22px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #bfbfc2;
  float: left;
  width: 350px;
  margin-bottom: 26px;
  margin-bottom: 29px;
}
.modal-booking__callback-input-phone::-webkit-input-placeholder {
  color: #bfbfc2;
}
.modal-booking__callback-input-phone::-moz-placeholder {
  color: #bfbfc2;
}
.modal-booking__callback-input-phone:-moz-placeholder {
  color: #bfbfc2;
}
.modal-booking__callback-input-phone:-ms-input-placeholder {
  color: #bfbfc2;
}
.modal-booking__callback-button {
  width: 199px;
  height: 46px;
  background: #292c3a;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  float: right;
  border: none;
  outline: none;
}
.benefits {
  background: #b1e06f;
  padding-top: 139px;
  padding-bottom: 126px;
}
.benefits .row._justify {
  display: flex;
  justify-content: space-between;
}
.benefits__item {
  color: #ffffff;
  text-transform: uppercase;
}
.benefits__item-text {
  margin-top: 29px;
  font-size: 17px;
  text-align: center;
}
.about-clinic {
  padding-top: 117px;
  padding-bottom: 117px;
  background: #fafafa;
}
.about-clinic__heading {
  text-transform: uppercase;
  color: #282a33;
  font-size: 36px;
  font-weight: 700;
  border-bottom: 2px solid #b1e06f;
  padding-bottom: 29px;
  margin-bottom: 54px;
}
.about-clinic__introduction-text {
  font-size: 28px;
  color: #282a33;
  margin-bottom: 42px;
}
.carousel-control {
  top: 314px;
  bottom: 19px;
  background-image: linear-gradient(none);
  background-image: -webkit-gradient(none);
  background-image: -webkit-linear-gradient(none);
  width: 3.5%;
}
.left {
  margin-left: 21px;
}
.right {
  margin-right: 22px;
}
.about-clinic__reason-text {
  font-size: 27px;
  color: #282a33;
  margin-bottom: 43px;
}
.about-clinic__team-text {
  font-size: 21px;
  color: #282a33;
  margin-bottom: 21px;
}
.about-clinic__equipment-text {
  font-size: 21px;
  color: #282a33;
  margin-bottom: 21px;
}
.about-clinic__space-text {
  font-size: 21px;
  color: #282a33;
  margin-bottom: 21px;
}
.about-clinic__time-text {
  font-size: 21px;
  color: #282a33;
  margin-bottom: 21px;
}
.about-clinic__wish-text {
  font-size: 21px;
  color: #282a33;
  margin-bottom: 21px;
  margin: 35px 0 0 0;
  margin-left: 232px;
}
.about-clinic__line {
  border-top: 2px solid #b1e06f;
  width: 47%;
  margin-bottom: 10px;
  position: relative;
  left: -147px;
}
.search-for-services {
  padding: 73px 0 65px 0;
  background: #292c3a;
  text-align: center;
}
.search-for-services__heading {
  display: inline-block;
  text-transform: uppercase;
  font-size: 19px;
  color: #ffffff;
  border-bottom: 2px solid #b1e06f;
  padding-bottom: 24px;
  margin-bottom: 25px;
}
.wrap {
  display: inline-block;
  width: 500px;
  height: 43px;
  background: #424554;
  padding: 8px 19px;
}
.search-for-services__search-form-item-text {
  width: 429px;
  background: none;
  outline: none;
  border: none;
  font-size: 21px;
  color: #9b9eac;
}
.search-for-services__search-form-item-text::-webkit-input-placeholder {
  color: #9b9eac;
}
.search-for-services__search-form-item-text::-moz-placeholder {
  color: #9b9eac;
}
.search-for-services__search-form-item-text:-moz-placeholder {
  color: #9b9eac;
}
.search-for-services__search-form-item-text:-ms-input-placeholder {
  color: #9b9eac;
}
.search-for-services__search-form-item-button {
  border: none;
  outline: none;
  background: none;
  position: relative;
  top: 2px;
  padding: 0;
}
.services {
  padding: 115px 0 118px 0;
}
.services__heading {
  text-transform: uppercase;
  color: #282a33;
  font-size: 36px;
  font-weight: 700;
  border-bottom: 2px solid #b1e06f;
  padding-bottom: 29px;
  margin-bottom: 54px;
}
.padding-left {
  padding-left: 100px;
}
.services__group-heading {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 39px;
  font-weight: 700;
  color: #7c7d83;
  padding: 3px 0;
  border: 2px solid #b1e06f;
  margin-bottom: 29px;
}
.services__group-item {
  font-size: 21px;
  font-weight: 700;
  color: #7c7d83;
  display: block;
  margin-bottom: 26px;
}
.feedback {
  padding: 88px 0 104px 0;
  background: #292c3a;
  text-align: center;
}
.feedback__review-button {
  width: 287px;
  height: 58px;
  background: #b1e06f;
  border: none;
  outline: none;
  color: #282a33;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 36px;
}
.feedback__logo-text {
  color: #7c7d83;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 11px;
}
.feedback__logo-line {
  border-top: 2px solid #7c7d83;
  width: 36%;
  margin: 0 auto;
}
.feedback__question-button {
  width: 287px;
  height: 58px;
  background: #b1e06f;
  border: none;
  outline: none;
  color: #282a33;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 36px;
}
.experts {
  padding: 147px 0 85px 0;
  background: #b1e06f;
  text-align: center;
}
.experts_heading {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  border-bottom: 2px solid #ffffff;
  display: inline-block;
  padding-bottom: 22px;
  margin-bottom: 88px;
}
.owl-stage-outer {
  margin-bottom: 68px;
}
.item__name {
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  margin: 26px 0 29px 0;
}
.item__post {
  color: #292c3a;
  font-size: 13px;
}
.owl-prev {
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -704px -5px;
  width: 12px;
  height: 20px;
  display: inline-block;
}
.owl-next {
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -704px -5px;
  width: 12px;
  height: 20px;
  display: inline-block;
  background-position: -726px -5px;
  margin-left: 30px;
}
.offers {
  padding: 82px 0 59px 0;
  background: #ffffff;
}
.offers__heading {
  text-align: center;
  color: #282a33;
  font-size: 31px;
  font-weight: 600;
  padding-bottom: 23px;
  /*&::after {
    position:absolute;
    display: block;
    //top:0;
    //left:0;
    width:50%;
    border-bottom: 2px solid @light-green;
    content:"";
  }*/
}
.offers__heading-line {
  border-top: 2px solid #b1e06f;
  width: 36.5%;
  margin-bottom: 88px;
}
/*.flex {
  display: flex;
  justify-content: space-between;
}*/
.offers .nav-tabs {
  margin: 0 15px 88px 15px;
  border: none;
  display: flex;
  justify-content: space-between;
}
.offers .nav-tabs__list-item_margins {
  margin: 0 136px;
}
.offers .offers__item {
  width: 287px;
  height: 57px;
  background: #292c3a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-top: 17px;
  border-radius: 0;
  border: none;
}
.offers .nav-tabs > li.active > a {
  border-bottom-color: #ddd;
}
/*.offers__item_center {
  .offers__item;
  margin-left: 37px;
}

.offers__item_to-right {
  .offers__item;
  float: right;
}*/
.offers .col-lg-7._shorter {
  width: 63.6%;
  margin-right: 10px;
}
.offers .col-lg-4._longer {
  width: 35.54%;
}
.offers__paragraphs {
  background: #f7f8f8;
  padding: 53px 33px;
}
.offers__paragraphs-item {
  color: #282a33;
  font-size: 23px;
  font-weight: 600;
  padding-bottom: 53px;
  border-bottom: 2px solid #b1e06f;
  margin-bottom: 53px;
  line-height: 26px;
}
.offers__paragraphs-item_no-line {
  color: #282a33;
  font-size: 23px;
  font-weight: 600;
  padding-bottom: 53px;
  border-bottom: 2px solid #b1e06f;
  margin-bottom: 53px;
  line-height: 26px;
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.offers__description {
  background: #f7f8f8;
  padding: 0 37px 31px 37px;
}
.offers__description-important {
  width: 28px;
  height: 29px;
  background: #b1e06f;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  padding-top: 6px;
  float: right;
  margin-bottom: 38px;
}
.offers__description-heading {
  clear: both;
  color: #282a33;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 36px;
}
.offers__description-text {
  clear: both;
  color: #282a33;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 36px;
  color: #84868b;
  margin-bottom: 85px;
  line-height: 21px;
}
.offers__description-participate-button {
  background: none;
  width: 135px;
  height: 37px;
  border: 2px solid #292c3a;
  outline: none;
  text-transform: uppercase;
  margin-left: 176px;
}
.offers__appointment-button {
  width: 287px;
  height: 58px;
  background: #b1e06f;
  border: none;
  outline: none;
  color: #282a33;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 36px;
  color: #ffffff;
  margin: 32px 0 0 442px;
}
.offers__program-table {
  width: 100%;
}
.offers__program-table-heading {
  background: #b1e06f;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.offers__program-table-heading-cell_1 {
  height: 60px;
  width: 1036px;
  padding: 0 31px;
  vertical-align: middle;
}
.offers__program-table-heading-cell_empty {
  background: #ffffff;
  width: 11px;
}
.offers__program-table-heading-cell_2 {
  height: 60px;
  width: 1036px;
  padding: 0 31px;
  vertical-align: middle;
  width: 123px;
  padding: 0 24px;
}
.offers__program-table-main {
  font-size: 18px;
  color: #7c7d83;
}
.offers__program-table-main-row:nth-child(2n+3) {
  background: #f7f8f8;
}
.offers__program-table-main-cell_1 {
  height: 60px;
  width: 1036px;
  padding: 0 31px;
  vertical-align: middle;
  height: 41px;
}
.offers__program-table-main-cell_empty {
  height: 34px;
}
.offers__program-table-main-cell_2 {
  height: 60px;
  width: 1036px;
  padding: 0 31px;
  vertical-align: middle;
  width: 123px;
  padding: 0 24px;
  padding: 0 41px;
}
.blog {
  padding: 88px 0 117px 0;
  background: #dcdcdd;
}
.blog__heading {
  font-size: 36px;
  font-weight: 700;
  color: #282a33;
  text-transform: uppercase;
  padding-bottom: 29px;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 60px;
}
.blog__video {
  width: 100%;
  height: 432px;
  border-width: 0;
}
.blog__subscription {
  background: #ffffff;
  margin-top: 19px;
  padding: 61px 0 30px 56px;
}
.blog__subscription-text {
  color: #50535b;
  font-size: 17px;
  font-weight: 700;
  margin-right: 35px;
  float: left;
  position: relative;
  top: 10px;
}
.blog__subscription-email {
  width: 321px;
  height: 57px;
  background: #f3f3f3;
  padding: 22px 22px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #bfbfc2;
  float: left;
}
.blog__subscription-email::-webkit-input-placeholder {
  color: #bfbfc2;
}
.blog__subscription-email::-moz-placeholder {
  color: #bfbfc2;
}
.blog__subscription-email:-moz-placeholder {
  color: #bfbfc2;
}
.blog__subscription-email:-ms-input-placeholder {
  color: #bfbfc2;
}
.blog__subscription-button {
  width: 287px;
  height: 58px;
  background: #b1e06f;
  border: none;
  outline: none;
  color: #282a33;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 36px;
  color: #ffffff;
  margin: 32px 0 0 442px;
  width: 121px;
  height: 37px;
  font-size: 12px;
  font-weight: 600;
  margin: 29px 0 0 527px;
}
.blog__description {
  background: #ffffff;
  padding: 53px 48px 30px 48px;
}
.blog__description-heading {
  color: #292c3a;
  font-size: 29px;
  border-bottom: 2px solid #b1e06f;
  padding-bottom: 25px;
  margin: 0 0 25px 0;
}
.blog__description-text {
  color: #84868b;
  font-size: 18px;
  margin-bottom: 50px;
  line-height: 21px;
}
.blog__description-subheading {
  color: #292c3a;
  font-size: 29px;
  border-bottom: 2px solid #b1e06f;
  padding-bottom: 25px;
  margin: 0 0 25px 0;
}
.blog__description-article-heading {
  color: #50535b;
  font-size: 23px;
  margin-bottom: 12px;
}
.blog__description-article-text {
  color: #84868b;
  font-size: 16px;
  height: 167px;
}
.blog__description-button {
  width: 287px;
  height: 58px;
  background: #b1e06f;
  border: none;
  outline: none;
  color: #282a33;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 36px;
  color: #ffffff;
  margin: 32px 0 0 442px;
  width: 121px;
  height: 37px;
  font-size: 12px;
  font-weight: 600;
  margin: 29px 0 0 527px;
  margin-left: 142px;
}
.contacts {
  padding: 88px 0 59px 0;
  background: linear-gradient(to right, #292c3a 60%, #ffffff 60.1%, #ffffff);
}
.contacts .col-lg-7._shorter {
  padding-right: 136px;
}
.contacts .col-lg-5._shorter {
  padding-left: 121px;
}
.contacts__info-heading {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 29px;
  border-bottom: 2px solid #b1e06f;
  margin-bottom: 54px;
}
.contacts__info-contact-heading {
  color: #b1e06f;
  font-size: 20px;
  margin-bottom: 25px;
}
.contacts__info-contact-text {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 28px;
}
.contacts__info-time {
  margin-left: 42px;
}
.contacts__info-time-heading {
  color: #b1e06f;
  font-size: 20px;
  margin-bottom: 25px;
}
.contacts__info-time-text {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 28px;
  color: #7c7d83;
  margin-bottom: 27px;
}
.contacts__info-time-text_green {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 28px;
  color: #7c7d83;
  margin-bottom: 27px;
  color: #b1e06f;
}
.contacts__callback-heading {
  color: #292c3a;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 29px;
  border-bottom: 2px solid #b1e06f;
  margin-bottom: 55px;
}
.contacts__callback-text {
  color: #7c7d83;
  font-size: 18px;
  margin-bottom: 25px;
  float: left;
}
.contacts__callback-input-name {
  width: 321px;
  height: 57px;
  background: #f3f3f3;
  padding: 22px 22px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #bfbfc2;
  float: left;
  width: 350px;
  margin-bottom: 26px;
}
.contacts__callback-input-name::-webkit-input-placeholder {
  color: #bfbfc2;
}
.contacts__callback-input-name::-moz-placeholder {
  color: #bfbfc2;
}
.contacts__callback-input-name:-moz-placeholder {
  color: #bfbfc2;
}
.contacts__callback-input-name:-ms-input-placeholder {
  color: #bfbfc2;
}
.contacts__callback-input-phone {
  width: 321px;
  height: 57px;
  background: #f3f3f3;
  padding: 22px 22px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #bfbfc2;
  float: left;
  width: 350px;
  margin-bottom: 26px;
  margin-bottom: 29px;
}
.contacts__callback-input-phone::-webkit-input-placeholder {
  color: #bfbfc2;
}
.contacts__callback-input-phone::-moz-placeholder {
  color: #bfbfc2;
}
.contacts__callback-input-phone:-moz-placeholder {
  color: #bfbfc2;
}
.contacts__callback-input-phone:-ms-input-placeholder {
  color: #bfbfc2;
}
.contacts__callback-button {
  width: 199px;
  height: 46px;
  background: #292c3a;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  float: right;
  border: none;
  outline: none;
}
.map {
  height: 580px;
}
.map__google-maps {
  width: 100%;
  height: 100%;
  border-width: 0;
}
.footer {
  background: #292c3a;
  padding: 52px 0 22px 0;
  text-align: center;
}
.footer__logo {
  display: inline-block;
  margin-bottom: 17px;
}
.footer__copyright-text {
  color: #424554;
  font-size: 9px;
}
.footer__up {
  display: block;
  float: right;
  position: relative;
  top: 5px;
}
