// Fonts
@font-face {
  font-family: "MyriadPro";
  src: url("../font/MyriadProRegular/MyriadProRegular.eot");
  src: url("../font/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
  url("../font/MyriadProRegular/MyriadProRegular.woff") format("woff"),
  url("../font/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "MyriadPro";
  src: url("../font/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("../font/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
  url("../font/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
  url("../font/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "MyriadPro";
  src: url("../font/MyriadProBold/MyriadProBold.eot");
  src: url("../font/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
  url("../font/MyriadProBold/MyriadProBold.woff") format("woff"),
  url("../font/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}



// Sprites
.stitches-sprite(@x: 0, @y: 0, @width: 0, @height: 0) {
  background-position: @x @y;
  width: @width;
  height: @height;
}

.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;

  &.sprite-Bogdan {
    .stitches-sprite(-5px, -5px, 204px, 205px);
  }

  &.sprite-Davalchenko {
    .stitches-sprite(-219px, -5px, 205px, 205px);
  }

  &.sprite-Pashkina {
    .stitches-sprite(-5px, -220px, 205px, 205px);
  }

  &.sprite-Vakulenchik {
    .stitches-sprite(-220px, -220px, 204px, 205px);
  }

  &.sprite-Zolin {
    .stitches-sprite(-434px, -5px, 204px, 205px);
  }

  &.sprite-about-clinic-left {
    .stitches-sprite(-648px, -5px, 18px, 36px);
  }

  &.sprite-about-clinic-left_hover {
    .stitches-sprite(-676px, -5px, 18px, 36px);
  }

  &.sprite-about-clinic-right {
    .stitches-sprite(-704px, -5px, 18px, 36px);
  }

  &.sprite-about-clinic-right_hover {
    .stitches-sprite(-732px, -5px, 18px, 36px);
  }

  &.sprite-close {
    .stitches-sprite(-760px, -5px, 13px, 13px);
  }

  &.sprite-doctor {
    .stitches-sprite(-648px, -51px, 151px, 151px);
  }

  &.sprite-experts-left {
    .stitches-sprite(-783px, -5px, 12px, 20px);
  }

  &.sprite-experts-left_hover {
    .stitches-sprite(-805px, -5px, 12px, 20px);
  }

  &.sprite-experts-right {
    .stitches-sprite(-809px, -35px, 12px, 20px);
  }

  &.sprite-experts-right_hover {
    .stitches-sprite(-809px, -65px, 12px, 20px);
  }

  &.sprite-facebook {
    .stitches-sprite(-809px, -95px, 10px, 18px);
  }

  &.sprite-facebook_hover {
    .stitches-sprite(-809px, -123px, 10px, 18px);
  }

  &.sprite-feedback-logo {
    .stitches-sprite(-648px, -212px, 33px, 57px);
  }

  &.sprite-footer-logo {
    .stitches-sprite(-691px, -212px, 65px, 24px);
  }

  &.sprite-list {
    .stitches-sprite(-434px, -246px, 151px, 150px);
  }

  &.sprite-logo {
    .stitches-sprite(-691px, -246px, 133px, 50px);
  }

  &.sprite-loupe {
    .stitches-sprite(-809px, -151px, 16px, 17px);
  }

  &.sprite-loupe_hover {
    .stitches-sprite(-809px, -178px, 16px, 17px);
  }

  &.sprite-network {
    .stitches-sprite(-595px, -306px, 150px, 150px);
  }

  &.sprite-ok {
    .stitches-sprite(-809px, -205px, 12px, 20px);
  }

  &.sprite-ok_hover {
    .stitches-sprite(-595px, -235px, 12px, 20px);
  }

  &.sprite-placeholder {
    .stitches-sprite(-5px, -466px, 151px, 150px);
  }

  &.sprite-time {
    .stitches-sprite(-166px, -466px, 151px, 150px);
  }

  &.sprite-up {
    .stitches-sprite(-617px, -235px, 20px, 20px);
  }

  &.sprite-up_hover {
    .stitches-sprite(-755px, -306px, 20px, 20px);
  }

  &.sprite-vk {
    .stitches-sprite(-785px, -306px, 16px, 10px);
  }

  &.sprite-vk_hover {
    .stitches-sprite(-811px, -306px, 16px, 10px);
  }

  &.sprite-youTube {
    .stitches-sprite(-785px, -326px, 14px, 11px);
  }

  &.sprite-youTube_hover {
    .stitches-sprite(-809px, -326px, 14px, 11px);
  }
}



// Colors
@white: rgb(255, 255, 255);
@medium-white: rgb(250, 250, 250);
@dark-white: rgb(247, 248, 248);
@super-dark-white: rgb(243, 243, 243);
@ultra-dark-white: rgb(232, 233, 233);
@from-white-to-grey: rgb(220, 220, 221);
@light-green: rgb(177, 224, 111);
@super-light-grey: rgb(191, 191, 194);
@light-grey: rgb(155, 158, 172);
@medium-grey: rgb(132, 134, 139);
@dark-grey: rgb(124, 125, 131);
@from-grey-to-blue: rgb(80, 83, 91);
@light-blue: rgb(66, 69, 84);
@medium-blue: rgb(41, 44, 58);
@dark-blue: rgb(40, 42, 51);



// Page
body {
  font-family: "MyriadPro", sans-serif;
}

.container {
  padding: 0 0.1px;
}

.header {
  background: url(../img/header-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: @white;
  text-transform: uppercase;
  padding-top: 64px;
}

.header__logo-link {
  display: inline-block;
}

.menu {
  padding-top: 22px;
}

.menu__list {
  font-size: 0;
  text-align: center;
}

.menu__list-item {
  display: inline-block;
  padding-right: 40px;
}

.menu__list-item-link {
  font-size: 12px;
  color: @white;
  transform: scaleX(0.87);

  &:hover {
    text-decoration: none;
    color: @light-green;
  }
}

.header__phone {
  padding-top: 18px;
  margin-left: 6px;
  font-size: 19px;
}

.header__button {
  width: 156px;
  height: 31px;
  margin-top: 12px;
  margin-left: 11px;
  background: none;
  font-size: 11px;
  font-weight: 700;
  outline: 2px solid @light-green;
  text-transform: uppercase;
  border: none;

  &:hover {
    background: @white;
    color: @dark-grey;
    outline-color: @white;
  }

  .button-animation;
}

.button-animation {
  &:active {
    position: relative;
    top: 2px;
  }
}

.header__presentation {
  text-align: center;
  padding-top: 27vh;
}

.header__presentation-heading {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 57px;
}

.header__presentation-text {
  font-size: 21px;
  color: @light-green;
}

.content .row {
  margin: 0 -7px;
}

.benefits {
  background: @light-green;
  padding-top: 139px;
  padding-bottom: 124px;
}

.benefits__item {
  color: @white;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
}

.benefits__item-text {
  margin-top: 26px;
  font-size: 17px;
}

.about-clinic {
  padding-top: 111px;
  padding-bottom: 114px;
  background: @medium-white;
}

.about-clinic__heading {
  text-transform: uppercase;
  color: @dark-blue;
  font-size: 36px;
  font-weight: 700;
  border-bottom: 2px solid @light-green;
  padding-bottom: 24px;
  margin-bottom: 47px;
}

.about-clinic__introduction-text {
  font-size: 28px;
  color: @dark-blue;
  margin-bottom: 37px;
  line-height: 33px;
}

.about-clinic .owl-nav {
  position: absolute;
  top: 85%;
  width: 100%;
}

.about-clinic .owl-prev {
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -648px -5px;
  width: 18px;
  height: 36px;
  float: left;
  margin-left: 4%;

  &:hover {
    background-position: -676px -5px;
  }
}

.about-clinic .owl-next {
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -704px -5px;
  width: 18px;
  height: 36px;
  float: right;
  margin-right: 4%;

  &:hover {
    background-position: -732px -5px;
  }
}

.about-clinic .col-lg-6._shorter {
  padding-left: 34px;
}

.about-clinic__reason-text {
  font-size: 27px;
  color: @dark-blue;
  margin-bottom: 36px;
  line-height: 33px;
  float: left;
}

.about-clinic__team-text {
  font-size: 21px;
  color: @dark-blue;
  margin-bottom: 15px;
  line-height: 26px;
  float: left;
}

.about-clinic__equipment-text {
  .about-clinic__team-text;
  margin-bottom: 20px;
  line-height: 24px;
}

.about-clinic__space-text {
  .about-clinic__team-text;
  margin-top: -3px;
  margin-bottom: 21px;
  line-height: 24px;
}

.about-clinic__time-text {
  .about-clinic__team-text;
  margin-top: -7px;
  line-height: 25px;
}

.about-clinic__wish-text {
  .about-clinic__team-text;
  margin-top: 13px;
  float: right;
  line-height: 24px;
}

.about-clinic__line {
  border-top: 2px solid @light-green;
  width: 47%;
  margin: 0 0 9px 0;
  float: left;
}

.search-for-services {
  padding: 70px 0 65px 0;
  background: @medium-blue;
  text-align: center;
}

.search-for-services__heading {
  display: inline-block;
  text-transform: uppercase;
  font-size: 19px;
  color: @white;
  border-bottom: 2px solid @light-green;
  padding-bottom: 21px;
  margin-bottom: 25px;
}

.search-for-services__search-form {

}

.wrap {
  display: inline-block;
  width: 500px;
  height: 43px;
  background: @light-blue;
  padding: 8px 11px 8px 16px;
}

.search-for-services__search-form-item-text {
  width: 95%;
  background: none;
  outline: none;
  border: none;
  font-size: 21px;
  color: @light-grey;

  &::-webkit-input-placeholder {
    color: @light-grey;
  }
  &::-moz-placeholder {
    color: @light-grey;
  }
  &:-moz-placeholder {
    color: @light-grey;
  }
  &:-ms-input-placeholder {
    color: @light-grey;
  }
}

.search-for-services__search-form-item-button {
  border: none;
  outline: none;
  background: none;
  position: relative;
  top: 2px;
  padding: 0;

  &:hover {
    .sprite-loupe {
      display: none;
    }

    .sprite-loupe_hover {
      display: block;
    }
  }
}

.sprite-loupe_hover {
  display: none;
}

.services {
  padding: 109px 0 118px 0;
}

.services__heading {
  .about-clinic__heading;
  padding-bottom: 25px;
  margin-bottom: 88px;
}

.services .padding-left {
  padding-left: 80px;

  &:nth-child(3) {
    padding-left: 60px;
  }
}

.services__group-heading {
  width: 51px;
  height: 50px;
  text-align: center;
  font-size: 39px;
  font-weight: 700;
  color: @dark-grey;
  padding: 3px 0;
  border: 2px solid @light-green;
  margin-bottom: 29px;
}

.services__group-item {
  font-size: 21px;
  font-weight: 700;
  color: @dark-grey;
  display: block;
  margin-bottom: 26px;

  &:hover {
    text-decoration: none;
    color: @dark-blue;
  }

  &:focus {
    text-decoration: none;
    outline: none;
  }
}

.feedback {
  padding: 88px 0 104px 0;
  background: @medium-blue;
  text-align: center;
}

.feedback__review-button {
  width: 287px;
  height: 58px;
  background: @light-green;
  border: none;
  outline: none;
  color: @dark-blue;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 36px;
  margin-left: -85px;

  &:hover {
    background: @white;
  }

  .button-animation;
}

.feedback__logo-text {
  color: @dark-grey;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 13px;
  margin-bottom: 12px;
}

.feedback__logo-line {
  border-top: 2px solid @dark-grey;
  width: 129px;
  margin: 0 auto;
}


.feedback__question-button {
  .feedback__review-button;
  width: 304px;
  margin-left: 0;
  margin-right: -63px;
}

.experts {
  padding: 141px 0 83px 0;
  background: @light-green;
  text-align: center;
}

.experts_heading {
  font-size: 36px;
  font-weight: 700;
  color: @white;
  text-transform: uppercase;
  border-bottom: 2px solid @white;
  display: inline-block;
  padding-bottom: 24px;
  margin-bottom: 88px;
}

.experts .owl-stage-outer {
  margin-bottom: 68px;
}

.item {

}

.item .sprite {
  display: inline-block;

  &:hover {
    .item-bg {
      visibility: visible;
    }
  }
}

.item-bg {
  visibility: hidden;
  height: 100%;
  border-radius: 100%;
  background: rgba(41, 44, 58, .7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-bg__button {
  width: 115px;
  height: 33px;
  background: none;
  color: @white;
  font-size: 15px;
  text-transform: uppercase;
  border: 2px solid @white;
  outline: none;

  &:hover {
    background: @white;
    color: @medium-blue;
  }

  .button-animation;
}

.item__name {
  color: @white;
  font-size: 19px;
  font-weight: 700;
  margin: 22px 0 24px 0;
  line-height: 21px;
}

.item__post {
  color: @medium-blue;
  font-size: 13px;
}

.experts .owl-prev {
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -783px -5px;
  width: 12px;
  height: 20px;
  display: inline-block;
  margin-left: 21px;

  &:hover {
    background-position: -805px -5px;
  }
}

.experts .owl-next {
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -809px -35px;
  width: 12px;
  height: 20px;
  display: inline-block;
  margin-left: 30px;

  &:hover {
    background-position: -809px -65px;
  }
}

.offers {
  padding: 78px 0 59px 0;
  background: @white;
}

.offers__heading {
  text-align: center;
  color: @dark-blue;
  font-size: 31px;
  font-weight: 600;
  padding-bottom: 4px;
}

.offers__heading-line {
  border-top: 2px solid @light-green;
  width: 36.5%;
  margin-bottom: 88px;
}

.offers .nav-tabs {
   margin-bottom: 88px;
   border: none;
   display: flex;
   justify-content: space-between;
 }

.offers .nav-tabs__list-item_margins {
  margin: 0 136px;
}

.offers .offers__item {
  width: 287px;
  height: 57px;
  background: @medium-blue;
  color: @white;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-top: 19px;
  border-radius: 0;
  border: none;

  &:hover {
    background: @white;
    color: @medium-blue;
    outline: 2px solid @medium-blue;
  }

  &:focus {
    outline: 2px solid @medium-blue;
    padding-top: 18px;
    color: @medium-blue;
  }
}

.offers .nav-tabs>li.active>a {
  border: none;
  outline: none;
  padding-top: 18px;
  color: @medium-blue;

  &:focus {
    outline: 2px solid @medium-blue;
  }
}

.offers .col-lg-7._shorter {
  width: 63.6%;
  margin-right: 10px;
}

.offers .col-lg-4._longer {
  width: 35.54%;
}

.offers__paragraphs {
  background: @dark-white;
  padding: 47px 33px;
}

.offers__paragraphs-item {
  display: block;
  color: @dark-blue;
  font-size: 23px;
  font-weight: 600;
  padding-bottom: 55px;
  border-bottom: 2px solid @light-green;
  margin-bottom: 49px;
  line-height: 28px;

  &:hover {
    text-decoration: none;
    color: @medium-grey;
  }
}

.offers__paragraphs-item_no-line {
  .offers__paragraphs-item;
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: normal;
}

.offers__description {
  background: @dark-white;
  padding: 0 37px 28px 37px;
  float: left;
}

.offers__description-important {
  width: 28px;
  height: 29px;
  background: @light-green;
  color: @white;
  font-size: 15px;
  text-align: center;
  padding-top: 6px;
  float: right;
  margin-bottom: 38px;
}

.offers__description-heading {
  clear: both;
  color: @dark-blue;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 36px;
}

.offers__description-text {
  .offers__description-heading;
  color: @medium-grey;
  margin-bottom: 84px;
  line-height: 21px;
}

.offers__description-participate-button {
  background: none;
  width: 119px;
  height: 31px;
  box-sizing: content-box;
  border: 2px solid @medium-blue;
  outline: none;
  text-transform: uppercase;
  float: right;
  margin-right: -8px;
  font-size: 13px;

  &:hover {
    background: @medium-blue;
    color: @white;
  }

  .button-animation;
}

.offers__appointment-button {
  .feedback__review-button;
  color: @white;
  display: block;
  margin: 32px auto 0 auto;

  &:hover {
    background: @medium-blue;
    color: @white;
  }
}

.offers__program-table {
  width: 100%;
}

.offers__program-table-heading {
  background: @light-green;
  color: @white;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.offers__program-table-heading-cell_1 {
  height: 60px;
  width: 1036px;
  padding: 0 31px;
  vertical-align: middle;
}

.offers__program-table-heading-cell_empty {
  background: @white;
  width: 11px;
}

.offers__program-table-heading-cell_2 {
  .offers__program-table-heading-cell_1;
  width: 123px;
  padding: 0 24px;
}

.offers__program-table-main {
  font-size: 18px;
  color: @dark-grey;
}

.offers__program-table-main-row {
  &:nth-child(2n+3) {
    background: @dark-white;
  }
}

.offers__program-table-main-cell_1 {
  height: 41px;
  width: 1036px;
  padding: 0 31px;
  vertical-align: middle;
}

.offers__program-table-main-cell_empty {
  height: 34px;
}

.offers__program-table-main-cell_2 {
  height: 41px;
  width: 123px;
  vertical-align: middle;
  padding: 0 41px;
}

.blog {
  padding: 82px 0 117px 0;
  background: @from-white-to-grey;
}

.blog__heading {
  font-size: 36px;
  font-weight: 700;
  color: @dark-blue;
  text-transform: uppercase;
  padding-bottom: 24px;
  border-bottom: 2px solid @white;
  margin-bottom: 60px;
}

.blog__video {
  width: 100%;
  height: 432px;
  border-width: 0;
}

.blog__subscription {
  background: @white;
  margin-top: 22px;
  padding: 61px 59px 30px 53px;
  float: left;
}

.blog__subscription-text {
  color: @from-grey-to-blue;
  font-size: 17px;
  font-weight: 700;
  margin-right: 37px;
  float: left;
  position: relative;
  top: 10px;
}

.blog__subscription-email {
  width: 321px;
  height: 57px;
  background: @super-dark-white;
  padding: 22px 22px;
  outline: none;
  border: none;
  font-size: 18px;
  color: @super-light-grey;
  float: left;
  margin-bottom: 29px;

  &::-webkit-input-placeholder {
    color: @super-light-grey;
  }
  &::-moz-placeholder {
    color: @super-light-grey;
  }
  &:-moz-placeholder {
    color: @super-light-grey;
  }
  &:-ms-input-placeholder {
    color: @super-light-grey;
  }
}

.blog__subscription-networks {
  width: 144px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: -20px;
}

.blog__subscription-networks-link {
  &:hover {
    .secrete {
      display: none;
    }

    .display-none {
      display: block;
    }
  }
}

.display-none {
  display: none;
}

.blog__subscription-button {
  width: 121px;
  height: 37px;
  background: @light-green;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: @white;
  font-size: 12px;
  font-weight: 600;
  float: right;

  &:hover {
    background: none;
    color: @medium-blue;
    outline: 2px solid @medium-blue;
  }

  .button-animation;
}

.blog__description {
  background: @white;
  padding: 48px 54px 30px 48px;
  float: left;
}

.blog__description-heading {
  color: @medium-blue;
  font-size: 29px;
  border-bottom: 2px solid @light-green;
  padding-bottom: 26px;
  margin: 0 0 23px 0;
}

.blog__description-text {
  color: @medium-grey;
  font-size: 18px;
  margin-bottom: 45px;
  line-height: 21px;
}

.blog__description-subheading {
  .blog__description-heading;
  margin-bottom: 21px;
}

.blog__description-article-heading {
  color: @from-grey-to-blue;
  font-size: 23px;
  margin-bottom: 7px;
}

.blog__description-article-text {
  color: @medium-grey;
  font-size: 16px;
  height: 218px;
}

.blog__description-button {
  .blog__subscription-button;
  width: 135px;
  margin-right: -5px;
}

.contacts {
  padding: 82px 0 49px 0;
  background: linear-gradient(to right, @medium-blue 59.2%, @white 59.3%, @white);
}

.contacts .col-lg-7._shorter {
  padding-right: 128px;
}

.contacts .col-lg-5._shorter {
  padding-left: 127px;
}

.contacts__info-heading {
  color: @white;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 24px;
  border-bottom: 2px solid @light-green;
  margin-bottom: 52px;
}

.contacts__info-contact-heading {
  color: @light-green;
  font-size: 20px;
  margin-bottom: 23px;
}
.contacts__info-contact-text {
  color: @white;
  font-size: 20px;
  margin-bottom: 23px;
}

.contacts__info-time {
  margin-left: 42px;
}

.contacts__info-time-heading {
  .contacts__info-contact-heading;
}

.contacts__info-time-text {
  .contacts__info-contact-text;
  color: @dark-grey;
  margin-bottom: 20px;
}

.contacts__info-time-text_green {
  .contacts__info-time-text;
  color: @light-green;
  margin-bottom: 27px;
}

.contacts__callback-heading {
  color: @medium-blue;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 29px;
  border-bottom: 2px solid @light-green;
  margin-bottom: 52px;
}

.contacts__callback-text {
  color: @dark-grey;
  font-size: 18px;
  margin-bottom: 25px;
  float: left;
}

.contacts__callback-input-name {
  .blog__subscription-email;
  width: 350px;
  margin-bottom: 26px;
}

.contacts__callback-input-phone {
  .contacts__callback-input-name;
  margin-bottom: 29px;
}

.contacts__callback-button {
  width: 199px;
  height: 46px;
  background: @medium-blue;
  color: @white;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  float: right;
  border: none;
  outline: none;
  margin-right: -6px;

  &:hover {
    background: @light-green;
  }

  .button-animation;
}

.map {
  height: 580px;
}

.footer {
  background: @medium-blue;
  padding: 52px 0 22px 0;
  text-align: center;
}

.footer .row {
  margin: 0;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 14px;
}

.footer__copyright-text {
  color: @light-blue;
  font-size: 9px;
}

.footer__up {
  display: block;
  float: right;
  position: relative;
  top: 2px;

  &:hover {
    .sprite-up {
      display: none;
    }

    .sprite-up_hover {
      display: block;
    }
  }
}

.sprite-up_hover {
  display: none;
}



// Modals
// Header-modal
.header-modal__content {
  background: none;
  border-radius: 0;
  padding: 0 81px;
  border: none;
}

.header-modal__wrap {
  float: left;
  background: @white;
  padding: 42px 42px 36px 41px;
}

.header-modal__heading {
  .contacts__callback-heading;
  margin-bottom: 27px;
}

.header-modal__text {
  .contacts__callback-text;
  font-size: 15px;
  text-transform: none;
}

.header-modal__callback-text {
  .contacts__callback-text;
  text-transform: none;
}

.header-modal__callback-input-name {
  .contacts__callback-input-name;
}

.header-modal__callback-input-phone {
  .contacts__callback-input-phone;
}

.header-modal__callback-button {
  .contacts__callback-button;
  margin-right: 3px;
}



// Services-modal
.services-modal .modal-lg {
  width: 88%;
}

.services-modal__content {
  background: none;
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.services-modal__wrap {
  float: left;
  background: @white;
  padding: 22px 60px 14px 60px;
}

.services-modal__button-close {
  position: relative;
  top: -15px;
  right: -43px;
}

.services-modal__table {
  .offers__program-table;
  margin-bottom: 33px;
}

.services-modal__table-heading {
  .offers__program-table-heading;
}

.services-modal__table-heading-cell_1 {
  .offers__program-table-heading-cell_1;
}

.services-modal__table-heading-cell_empty {
  .offers__program-table-heading-cell_empty;
}

.services-modal__table-heading-cell_2 {
  .offers__program-table-heading-cell_2;
  width: 182px;
  text-align: center;
}

.services-modal__table-main {
  .offers__program-table-main;
}

.services-modal__table-main-row {
  .offers__program-table-main-row;
}

.services-modal__table-main-cell_1 {
  .offers__program-table-main-cell_1;
  height: 40px;
}

.services-modal__table-main-cell_empty {
  .offers__program-table-main-cell_empty;
}

.services-modal__table-main-cell_2 {
  .offers__program-table-main-cell_2;
  text-align: center;
}

.services-modal__table-service-price {
  &:hover {
    cursor: pointer;
  }
}

.services-modal__table-checkbox {
  display: none;
}

.services-modal__total {
  float: right;
}

.services-modal__total-text {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: @dark-grey;
  float: left;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 27px;
}

.services-modal__total-output {
  width: 165px;
  height: 40px;
  background: @light-green;
  color: @white;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-modal__form {
  //width: 314px;
  //margin-right: 57px;
  position: relative;
  top: -41px;
}

.services-modal__heading {
  .contacts__callback-heading;
  margin-bottom: 27px;
}

.services-modal__text {
  .contacts__callback-text;
  font-size: 15px;
  text-transform: none;
}

.services-modal__callback-text {
  .contacts__callback-text;
  text-transform: none;
}

.services-modal__callback-input-name {
  .contacts__callback-input-name;
  width: 100%;
}

.services-modal__callback-input-phone {
  .contacts__callback-input-phone;
  width: 100%;
}

.services-modal .owl-carousel {
  margin-top: 54px;
  margin-left: 26px;
}

.services-modal .item {
  text-align: center;
}

.services-modal .item__name {
  color: @dark-grey;
}

.services-modal__callback-button {
  .contacts__callback-button;
  margin-right: 0;
}



// Feedback-modal-1

/*.modal-feedback-bg .col-lg-12._shorter {
  padding: 0 170px;
}

.modal-feedback {
  width: 100%;
  padding: 38px 53px 43px 53px;
}*/

.feedback-modal-1__content {
  background: none;
  border-radius: 0;
  margin: 0 36px;
  border: none;
}

.feedback-modal-1__wrap {
  background: @white;
  padding: 38px 53px 43px 45px;
  float: left;
}

.feedback-modal-1__heading {
  .contacts__callback-heading;
  padding-bottom: 15px;
  margin-bottom: 21px;
  text-align: left;
}

.feedback-modal-1__callback-text {
  .contacts__callback-text;
  text-transform: none;
}

.feedback-modal-1__callback-input-name {
  .contacts__callback-input-name;
}

.feedback-modal-1__callback-input-phone {
  .contacts__callback-input-phone;
}

.feedback-modal-1__callback-text-area {
  width: 100%;
  height: 208px;
  resize: none;
  border: 2px solid @super-dark-white;
  margin-bottom: 12px;
}

.feedback-modal-1__callback-button {
  .contacts__callback-button;
  margin-right: 0;
}



// Feedback-modal-2
.feedback-modal-2__content {
  .feedback-modal-1__content;
}

.feedback-modal-2__wrap {
  .feedback-modal-1__wrap;
  padding: 41px 50px 38px 51px;
}

.feedback-modal-2__heading {
  .feedback-modal-1__heading;
}

.feedback-modal-2__callback-text {
  .feedback-modal-1__callback-text;
  margin-bottom: 11px;
}

.feedback-modal-2__callback-input-name {
  .feedback-modal-1__callback-input-name;
  margin-bottom: 16px;
}

.feedback-modal-2__callback-input-phone {
  .feedback-modal-2__callback-input-name;
}

.feedback-modal-2__callback-input-email {
  .feedback-modal-2__callback-input-phone;
  margin-bottom: 0;
}

.feedback-modal-2__callback .col-lg-6._longer {
  padding: 0 0;
}

.feedback-modal-2__callback-text-area {
  .feedback-modal-1__callback-text-area;
  width: 100%;
  height: 261px;
  margin-top: 29px;
}

.feedback-modal-2__callback-button {
  .feedback-modal-1__callback-button;
}



// Media queries
/*@media (min-width: 1200px) and (max-width: 1215px) {
  .content .row {
    margin: 0 -7px;
  }
}*/



@media (min-width: 992px) and (max-width: 1199px) {
  .header .row {
    margin: 0;
  }

  .content .row {
    margin: 0;
  }

  .header .col-md-2 {
    width: 19%;
  }

  .header .col-md-5 {
    width: 42.666667%;
  }


  .menu {
    margin-left: 0;
  }

  .menu__list-item{
    padding: 0 6px;
  }

  .header__phone {
    margin-left: 0;
    font-size: 17px;
  }

  .header .col-md-3 {
    width: 19%;
  }

  .header__button {
    margin-left: 7px;
  }

  .about-clinic {
    padding: 56px 0;
  }

  .about-clinic .col-lg-6._shorter {
    padding-left: 33px;
  }

  .about-clinic__introduction-text {
    font-size: 23px;
    line-height: 26px;
  }

  .about-clinic__reason-text {
    font-size: 23px;
    line-height: 26px;
    margin-bottom: 27px;
  }

  .about-clinic__team-text {
    font-size: 18px;
    line-height: 20px;
  }

  .about-clinic__equipment-text {
    .about-clinic__team-text;
  }

  .about-clinic__space-text {
    .about-clinic__team-text;
  }

  .about-clinic__time-text {
    font-size: 17px;
    line-height: 20px;
  }

  .about-clinic__wish-text {
    .about-clinic__team-text;
  }

  .services {
    padding: 60px 0;
  }

  .services__heading {
    margin-bottom: 60px;
  }

  .services__group-item {
    font-size: 15px;
  }

  .services .padding-left {
    padding-left: 93px;

    &:nth-child(3) {
      padding-left: 77px;
    }
  }

  .feedback__review-button {
    margin-left: 0;
  }

  .feedback__question-button {
    margin-right: 0;
  }

  .offers .nav-tabs__list-item_margins {
    margin: 0;
  }

  .offers .col-lg-7._shorter {
    margin-right: 8px;
  }

  .offers__description-text {
    margin-bottom: 87px;
  }

  .blog .col-md-4 {
    padding-left: 0;
  }

  .blog__video {
    height: 351px;
  }

  .blog__subscription {
    padding: 20px 19px 20px 19px;
  }

  .blog__subscription-email {
    width: 253px;
  }

  .blog__description {
    padding: 20px 19px 20px 19px;
  }

  .blog__description-text {
    line-height: 18px;
  }

  .blog__description-article-text {
    height: 139px;
  }

  .blog__description-button {
    margin-right: 0;
  }

  .contacts {
    background: linear-gradient(to right, @medium-blue 57%, @white 57.1%, @white);
  }

  .contacts .col-md-5._shorter {
    padding-left: 38px;
  }

  .contacts__callback-input-name {
    width: 100%;
  }

  .contacts__callback-input-phone {
    width: 100%;
  }

  .contacts__callback-button {
    margin-right: 15px;
  }
}



@media (min-width: 768px) and (max-width: 991px) {
  .header .row {
    margin: 0;
  }

  .content .row {
    margin: 0;
  }

  .benefits {
    padding: 70px 0;
  }

  .about-clinic {
    padding: 56px 0;
  }

  .about-clinic__introduction-text {
    font-size: 25px;
    line-height: normal;
  }

  .about-clinic .col-lg-6._shorter {
    padding-left: 15px;
  }

  .about-clinic__reason-text {
    .about-clinic__introduction-text;
    margin-top: 37px;
  }

  .about-clinic__team-text {
    margin-top: 0;
    line-height: normal;
  }

  .about-clinic__equipment-text {
    .about-clinic__team-text;
  }

  .about-clinic__space-text {
    .about-clinic__team-text;
  }

  .about-clinic__time-text {
    .about-clinic__team-text;
  }

  .about-clinic__wish-text {
    line-height: normal;
  }

  .services {
    padding: 60px 0;
  }

  .services__heading {
    margin-bottom: 60px;
  }

  .services__group-item {
    font-size: 15px;
  }

  .services .padding-left {
    padding-left: 20px;

    &:nth-child(3) {
      padding-left: 40px;
    }
  }

  .feedback {
    padding: 52px 0;
  }

  .feedback__review-button {
    margin: 0 0 36px 0;
  }

  .feedback__question-button {
    width: 287px;
    margin-right: 0;
  }

  .experts {
    padding: 70px 0 10px 0;
  }

  .offers {
    padding: 50px 0;
  }

  .offers__heading-line {
    margin-bottom: 50px;
  }

  .offers .nav-tabs {
    display: block;
    margin-bottom: 60px;
  }

  .offers .nav-tabs > li {
    float: none;
    display: flex;
    justify-content: center;
  }

  .offers .nav-tabs__list-item_margins {
    margin: 20px 0;
  }

  .offers .col-sm-12._shorter {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .offers .col-sm-12._longer {
    width: 100%;
  }

  .blog {
    padding: 60px 0;
  }

  .blog__subscription {
    margin-bottom: 22px;
  }

  .blog__subscription-email {
    width: 282px;
  }

  .blog__description-button {
    margin-right: 0;
  }

  .contacts {
    background: linear-gradient(to bottom, @medium-blue 58%, @white 58.1%, @white);
    padding: 41px 0;
  }

  .contacts .col-sm-12._shorter {
    padding: 0 15px;
  }

  .contacts__callback {
    margin-top: 40px;
  }

  .contacts__callback-text {
    display: block;
    float: none;
  }

  .contacts__callback-input-name {
    width: 100%;
  }

  .contacts__callback-input-phone {
    width: 100%;
  }

  .contacts__callback-button {
    margin-right: 15px;
  }
}



@media (max-width: 767px) {
  .header .row {
    margin: 0;
  }

  .content .row {
    margin: 0;
  }

  .benefits {
    padding: 70px 0;
  }

  .benefits__item {
    display: block;
  }

  .about-clinic {
    padding: 56px 0;
  }

  .about-clinic__introduction-text {
    font-size: 18px;
    line-height: normal;
  }

  .about-clinic .col-lg-6._shorter {
    padding-left: 15px;
  }

  .about-clinic__reason-text {
    .about-clinic__introduction-text;
    margin-top: 37px;
  }

  .about-clinic__team-text {
    font-size: 17px;
    margin-top: 0;
    line-height: normal;
  }

  .about-clinic__equipment-text {
    .about-clinic__team-text;
  }

  .about-clinic__space-text {
    .about-clinic__team-text;
  }

  .about-clinic__time-text {
    .about-clinic__team-text;
  }

  .about-clinic__wish-text {
    line-height: normal;
    font-size: 17px;
  }

  .search-for-services {
    padding: 50px 0;
  }

  .search-for-services .wrap {
    width: 320px;
  }

  .search-for-services__search-form-item-text {
    width: 93%;
  }

  .services {
    padding: 40px 0;
  }

  .services__heading {
    margin-bottom: 50px;
  }

  .services__group-item {
    font-size: 15px;
  }

  .services .padding-left {
    padding-left: 15px;

    &:nth-child(3) {
      padding-left: 15px;
    }
  }

  .feedback {
    padding: 52px 0;
  }

  .feedback__review-button {
    margin: 0 0 36px 0;
  }

  .feedback__logo-text {
    font-size: 14px;
  }

  .feedback__question-button {
    width: 287px;
    margin-right: 0;
  }

  .experts {
    padding: 70px 0 10px 0;
  }

  .offers {
    padding: 50px 0;
  }

  .offers__heading-line {
    margin-bottom: 50px;
  }

  .offers .nav-tabs {
    display: block;
    margin-bottom: 60px;
  }

  .offers .nav-tabs > li {
    float: none;
    display: flex;
    justify-content: center;
  }

  .offers .nav-tabs__list-item_margins {
    margin: 20px 0;
  }

  .offers .col-sm-12._shorter {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .offers .col-sm-12._longer {
    width: 100%;
  }

  .offers__program-table-heading-cell_1 {
    padding: 0 4px;
  }

  .offers__program-table-heading-cell_2 {
    padding: 0 4px;
  }

  .offers__program-table-main-cell_1 {
    padding: 0 4px;
  }

  .offers__program-table-main-cell_2 {
    padding: 0 4px;
  }

  .blog {
    padding: 60px 0;
  }

  .video-container {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
  }

  .blog__video {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .blog__subscription {
    width: 100%;
    padding: 15px 10px 15px 10px;
    margin-bottom: 22px;
  }

  .blog__subscription-text {
    font-size: 15px;
    margin-right: 0;
    position: static;
    display: block;
    float: none;
    margin-bottom: 29px;
  }

  .blog__subscription-email {
    width: 270px;
    display: block;
    float: none;
  }

  .blog__subscription-networks {
    width: 120px;
  }

  .blog__description {
    padding: 15px 10px 15px 10px;
  }

  .blog__description-button {
    margin-right: 0;
  }

  .contacts {
    background: linear-gradient(to bottom, @medium-blue 61%, @white 61.1%, @white);
    padding: 41px 0;
  }

  .contacts .col-sm-12._shorter {
    padding: 0 15px;
  }

  .contacts__info-time {
    margin-left: 0;
  }

  .contacts__callback {
    margin-top: 40px;
  }

  .contacts__callback-text {
    display: block;
    float: none;
  }

  .contacts__callback-input-name {
    width: 100%;
  }

  .contacts__callback-input-phone {
    width: 100%;
  }

  .contacts__callback-button {
    margin-right: 15px;
  }

  .footer__up {
    margin-right: 7px;
  }
}




.header {
  //display: none;
}

.benefits, .about-clinic, .search-for-services, .services, .feedback, .experts, .offers, .blog, .contacts, .map, .footer {
  display: none;
}