@font-face {
  font-family: "MyriadPro";
  src: url("../font/MyriadProRegular/MyriadProRegular.eot");
  src: url("../font/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../font/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../font/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "MyriadPro";
  src: url("../font/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("../font/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix") format("embedded-opentype"), url("../font/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"), url("../font/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "MyriadPro";
  src: url("../font/MyriadProBold/MyriadProBold.eot");
  src: url("../font/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../font/MyriadProBold/MyriadProBold.woff") format("woff"), url("../font/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}
.sprite.sprite-Bogdan {
  background-position: -5px -5px;
  width: 204px;
  height: 205px;
}
.sprite.sprite-Davalchenko {
  background-position: -219px -5px;
  width: 205px;
  height: 205px;
}
.sprite.sprite-Pashkina {
  background-position: -5px -220px;
  width: 205px;
  height: 205px;
}
.sprite.sprite-Vakulenchik {
  background-position: -220px -220px;
  width: 204px;
  height: 205px;
}
.sprite.sprite-Zolin {
  background-position: -434px -5px;
  width: 204px;
  height: 205px;
}
.sprite.sprite-about-clinic-left {
  background-position: -648px -5px;
  width: 18px;
  height: 36px;
}
.sprite.sprite-about-clinic-left_hover {
  background-position: -676px -5px;
  width: 18px;
  height: 36px;
}
.sprite.sprite-about-clinic-right {
  background-position: -704px -5px;
  width: 18px;
  height: 36px;
}
.sprite.sprite-about-clinic-right_hover {
  background-position: -732px -5px;
  width: 18px;
  height: 36px;
}
.sprite.sprite-close {
  background-position: -760px -5px;
  width: 13px;
  height: 13px;
}
.sprite.sprite-doctor {
  background-position: -648px -51px;
  width: 151px;
  height: 151px;
}
.sprite.sprite-experts-left {
  background-position: -783px -5px;
  width: 12px;
  height: 20px;
}
.sprite.sprite-experts-left_hover {
  background-position: -805px -5px;
  width: 12px;
  height: 20px;
}
.sprite.sprite-experts-right {
  background-position: -809px -35px;
  width: 12px;
  height: 20px;
}
.sprite.sprite-experts-right_hover {
  background-position: -809px -65px;
  width: 12px;
  height: 20px;
}
.sprite.sprite-facebook {
  background-position: -809px -95px;
  width: 10px;
  height: 18px;
}
.sprite.sprite-facebook_hover {
  background-position: -809px -123px;
  width: 10px;
  height: 18px;
}
.sprite.sprite-feedback-logo {
  background-position: -648px -212px;
  width: 33px;
  height: 57px;
}
.sprite.sprite-footer-logo {
  background-position: -691px -212px;
  width: 65px;
  height: 24px;
}
.sprite.sprite-important {
  background-position: -827px -5px;
  width: 2px;
  height: 15px;
}
.sprite.sprite-list {
  background-position: -434px -246px;
  width: 151px;
  height: 150px;
}
.sprite.sprite-logo {
  background-position: -691px -246px;
  width: 133px;
  height: 50px;
}
.sprite.sprite-loupe {
  background-position: -809px -151px;
  width: 16px;
  height: 17px;
}
.sprite.sprite-loupe_hover {
  background-position: -809px -178px;
  width: 16px;
  height: 17px;
}
.sprite.sprite-network {
  background-position: -595px -306px;
  width: 150px;
  height: 150px;
}
.sprite.sprite-ok {
  background-position: -809px -205px;
  width: 12px;
  height: 20px;
}
.sprite.sprite-ok_hover {
  background-position: -595px -235px;
  width: 12px;
  height: 20px;
}
.sprite.sprite-placeholder {
  background-position: -5px -466px;
  width: 151px;
  height: 150px;
}
.sprite.sprite-time {
  background-position: -166px -466px;
  width: 151px;
  height: 150px;
}
.sprite.sprite-up {
  background-position: -617px -235px;
  width: 20px;
  height: 20px;
}
.sprite.sprite-up_hover {
  background-position: -755px -306px;
  width: 20px;
  height: 20px;
}
.sprite.sprite-vk {
  background-position: -785px -306px;
  width: 16px;
  height: 10px;
}
.sprite.sprite-vk_hover {
  background-position: -811px -306px;
  width: 16px;
  height: 10px;
}
.sprite.sprite-youTube {
  background-position: -785px -326px;
  width: 14px;
  height: 11px;
}
.sprite.sprite-youTube_hover {
  background-position: -809px -326px;
  width: 14px;
  height: 11px;
}
body {
  font-family: "MyriadPro", sans-serif;
}
.container {
  padding: 0 0.1px;
}
.header {
  background: url(../img/header-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 64px;
}
.navbar-header {
  float: none;
}
.header__logo-link {
  display: inline-block;
  float: left;
}
.collapse {
  padding: 0;
}
.menu {
  overflow: hidden;
}
.menu__list {
  font-size: 0;
  margin-left: 81px;
}
.menu__list-item {
  display: inline-block;
  padding-right: 42px;
}
.phone {
  display: inline-block;
  padding-right: 42px;
  padding-right: 0;
}
.button {
  display: inline-block;
  padding-right: 42px;
  padding-right: 0;
  height: 47px;
}
.menu__list-item-link {
  font-size: 12px;
  color: #ffffff;
  transform: scaleX(0.87);
}
.menu__list-item-link:hover {
  text-decoration: none;
  color: #b1e06f;
}
.header__phone {
  position: relative;
  top: 3px;
  margin-left: 36px;
  font-size: 19px;
}
.header__button {
  width: 156px;
  height: 31px;
  margin-top: 12px;
  margin-left: 56px;
  background: none;
  font-size: 11px;
  font-weight: 700;
  outline: 2px solid #b1e06f;
  text-transform: uppercase;
  border: none;
  line-height: normal;
}
.header__button:hover {
  background: #ffffff;
  color: #7c7d83;
  outline-color: #ffffff;
}
.header__button:active {
  position: relative;
  top: 2px;
}
.button-animation:active {
  position: relative;
  top: 2px;
}
.header__presentation {
  text-align: center;
  padding-top: 27vh;
}
.header__presentation-heading {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 57px;
}
.header__presentation-text {
  font-size: 21px;
  color: #b1e06f;
}
.content .row {
  margin: 0 -7px;
}
.benefits {
  background: #b1e06f;
  padding-top: 139px;
  padding-bottom: 124px;
}
.benefits__item {
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
}
.benefits__item-text {
  margin-top: 26px;
  font-size: 17px;
}
.about-clinic {
  padding-top: 111px;
  padding-bottom: 114px;
  background: #fafafa;
}
.about-clinic__heading {
  text-transform: uppercase;
  color: #282a33;
  font-size: 36px;
  font-weight: 700;
  border-bottom: 2px solid #b1e06f;
  padding-bottom: 24px;
  margin-bottom: 47px;
}
.about-clinic__introduction-text {
  font-size: 28px;
  color: #282a33;
  margin-bottom: 37px;
  line-height: 33px;
}
.about-clinic .owl-nav {
  position: absolute;
  top: 85%;
  width: 100%;
}
.about-clinic .owl-prev {
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -648px -5px;
  width: 18px;
  height: 36px;
  float: left;
  margin-left: 4%;
}
.about-clinic .owl-prev:hover {
  background-position: -676px -5px;
}
.about-clinic .owl-next {
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -704px -5px;
  width: 18px;
  height: 36px;
  float: right;
  margin-right: 4%;
}
.about-clinic .owl-next:hover {
  background-position: -732px -5px;
}
.about-clinic .col-lg-6._shorter {
  padding-left: 34px;
}
.about-clinic__reason-text {
  font-size: 27px;
  color: #282a33;
  margin-bottom: 36px;
  line-height: 33px;
  float: left;
}
.about-clinic__team-text {
  font-size: 21px;
  color: #282a33;
  margin-bottom: 15px;
  line-height: 26px;
  float: left;
}
.about-clinic__equipment-text {
  font-size: 21px;
  color: #282a33;
  margin-bottom: 15px;
  line-height: 26px;
  float: left;
  margin-bottom: 20px;
  line-height: 24px;
}
.about-clinic__space-text {
  font-size: 21px;
  color: #282a33;
  margin-bottom: 15px;
  line-height: 26px;
  float: left;
  margin-top: -3px;
  margin-bottom: 21px;
  line-height: 24px;
}
.about-clinic__time-text {
  font-size: 21px;
  color: #282a33;
  margin-bottom: 15px;
  line-height: 26px;
  float: left;
  margin-top: -7px;
  line-height: 25px;
}
.about-clinic__wish-text {
  font-size: 21px;
  color: #282a33;
  margin-bottom: 15px;
  line-height: 26px;
  float: left;
  margin-top: 13px;
  float: right;
  line-height: 24px;
}
.about-clinic__line {
  border-top: 2px solid #b1e06f;
  width: 47%;
  margin: 0 0 9px 0;
  float: left;
}
.search-for-services {
  padding: 70px 0 65px 0;
  background: #292c3a;
  text-align: center;
}
.search-for-services__heading {
  display: inline-block;
  text-transform: uppercase;
  font-size: 19px;
  color: #ffffff;
  border-bottom: 2px solid #b1e06f;
  padding-bottom: 21px;
  margin-bottom: 25px;
}
.wrap {
  display: inline-block;
  width: 500px;
  height: 43px;
  background: #424554;
  padding: 8px 11px 8px 16px;
}
.search-for-services__search-form-item-text {
  width: 95%;
  background: none;
  outline: none;
  border: none;
  font-size: 21px;
  color: #f7f8f8;
}
.search-for-services__search-form-item-text::-webkit-input-placeholder {
  color: #9b9eac;
}
.search-for-services__search-form-item-text::-moz-placeholder {
  color: #9b9eac;
}
.search-for-services__search-form-item-text:-moz-placeholder {
  color: #9b9eac;
}
.search-for-services__search-form-item-text:-ms-input-placeholder {
  color: #9b9eac;
}
.search-for-services__search-form-item-button {
  border: none;
  outline: none;
  background: none;
  position: relative;
  top: 2px;
  padding: 0;
}
.search-for-services__search-form-item-button:hover .sprite-loupe {
  display: none;
}
.search-for-services__search-form-item-button:hover .sprite-loupe_hover {
  display: block;
}
.sprite-loupe_hover {
  display: none;
}
.services {
  padding: 109px 0 118px 0;
}
.services__heading {
  text-transform: uppercase;
  color: #282a33;
  font-size: 36px;
  font-weight: 700;
  border-bottom: 2px solid #b1e06f;
  padding-bottom: 24px;
  margin-bottom: 47px;
  padding-bottom: 25px;
  margin-bottom: 88px;
}
.services .padding-left {
  padding-left: 79px;
}
.services .padding-left:nth-child(3) {
  padding-left: 59px;
}
.services__group-heading {
  width: 51px;
  height: 50px;
  text-align: center;
  font-size: 39px;
  font-weight: 700;
  color: #7c7d83;
  padding: 5px 0;
  outline: 2px solid #b1e06f;
  margin-bottom: 29px;
}
.services__group-item {
  font-size: 21px;
  font-weight: 700;
  color: #7c7d83;
  display: block;
  margin-bottom: 26px;
}
.services__group-item:hover {
  text-decoration: none;
  color: #282a33;
}
.services__group-item:focus {
  text-decoration: none;
  outline: none;
}
.feedback {
  padding: 88px 0 104px 0;
  background: #292c3a;
  text-align: center;
}
.feedback__review-button {
  width: 287px;
  height: 58px;
  background: #b1e06f;
  border: none;
  outline: none;
  color: #282a33;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 36px;
  margin-left: -85px;
  line-height: normal;
}
.feedback__review-button:hover {
  background: #ffffff;
}
.feedback__review-button:active {
  position: relative;
  top: 2px;
}
.feedback__logo-text {
  color: #7c7d83;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 13px;
  margin-bottom: 12px;
}
.feedback__logo-line {
  border-top: 2px solid #7c7d83;
  width: 129px;
  margin: 0 auto;
}
.feedback__question-button {
  width: 287px;
  height: 58px;
  background: #b1e06f;
  border: none;
  outline: none;
  color: #282a33;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 36px;
  margin-left: -85px;
  line-height: normal;
  width: 304px;
  margin-left: 0;
  margin-right: -63px;
}
.feedback__question-button:hover {
  background: #ffffff;
}
.feedback__question-button:active {
  position: relative;
  top: 2px;
}
.experts {
  padding: 141px 0 83px 0;
  background: #b1e06f;
  text-align: center;
}
.experts_heading {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  border-bottom: 2px solid #ffffff;
  display: inline-block;
  padding-bottom: 24px;
  margin-bottom: 88px;
}
.experts .owl-stage-outer {
  margin-bottom: 68px;
}
.item .sprite {
  display: inline-block;
}
.item .sprite:hover .item-bg {
  visibility: visible;
}
.item-bg {
  visibility: hidden;
  height: 100%;
  border-radius: 100%;
  background: rgba(41, 44, 58, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-bg__button {
  width: 115px;
  height: 33px;
  background: none;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  outline: none;
}
.item-bg__button:hover {
  background: #ffffff;
  color: #292c3a;
}
.item-bg__button:active {
  position: relative;
  top: 2px;
}
.item__name {
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  margin: 22px 0 24px 0;
  line-height: 21px;
}
.item__post {
  color: #292c3a;
  font-size: 13px;
}
.experts .owl-prev {
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -783px -5px;
  width: 12px;
  height: 20px;
  display: inline-block;
  margin-left: 21px;
}
.experts .owl-prev:hover {
  background-position: -805px -5px;
}
.experts .owl-next {
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -809px -35px;
  width: 12px;
  height: 20px;
  display: inline-block;
  margin-left: 30px;
}
.experts .owl-next:hover {
  background-position: -809px -65px;
}
.offers {
  padding: 78px 0 59px 0;
  background: #ffffff;
}
.offers__heading {
  text-align: center;
  color: #282a33;
  font-size: 31px;
  font-weight: 600;
  padding-bottom: 4px;
}
.offers__heading-line {
  border-top: 2px solid #b1e06f;
  width: 36.5%;
  margin-bottom: 88px;
}
.offers .nav-tabs {
  margin-bottom: 88px;
  border: none;
  display: flex;
  justify-content: space-between;
}
.offers .nav-tabs__list-item_margins {
  margin: 0 136px;
}
.offers .offers__item {
  width: 287px;
  height: 57px;
  background: #292c3a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-top: 17px;
  border-radius: 0;
  border: none;
}
.offers .offers__item:hover {
  background: #ffffff;
  color: #292c3a;
  outline: 2px solid #292c3a;
}
.offers .offers__item:focus {
  outline: 2px solid #292c3a;
  padding-top: 17px;
  color: #292c3a;
}
.offers .nav-tabs > li.active > a {
  border: none;
  outline: 2px solid #292c3a;
  padding-top: 17px;
  color: #292c3a;
}
.offers .nav-tabs > li.active > a:focus {
  outline: 2px solid #292c3a;
}
.offers .col-lg-7._shorter {
  width: 63.6%;
  margin-right: 10px;
}
.offers .col-lg-4._longer {
  width: 35.54%;
}
.offers__paragraphs {
  background: #f7f8f8;
  padding: 47px 33px;
}
.offers__paragraphs-item {
  display: block;
  color: #282a33;
  font-size: 23px;
  font-weight: 600;
  padding-bottom: 55px;
  border-bottom: 2px solid #b1e06f;
  margin-bottom: 49px;
  line-height: 28px;
}
.offers__paragraphs-item:hover {
  text-decoration: none;
  color: #84868b;
}
.offers__paragraphs-item_no-line {
  display: block;
  color: #282a33;
  font-size: 23px;
  font-weight: 600;
  padding-bottom: 55px;
  border-bottom: 2px solid #b1e06f;
  margin-bottom: 49px;
  line-height: 28px;
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: normal;
}
.offers__paragraphs-item_no-line:hover {
  text-decoration: none;
  color: #84868b;
}
.offers__description {
  background: #f7f8f8;
  padding: 0 30px 29px 37px;
  float: left;
}
.offers__description-important {
  width: 28px;
  height: 29px;
  background: #b1e06f;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  padding-top: 7px;
  float: right;
  margin-bottom: 35px;
}
.sprite-important {
  display: inline-block;
}
.offers__description-heading {
  clear: both;
  color: #282a33;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 28px;
  line-height: 21px;
}
.offers__description-text {
  clear: both;
  color: #282a33;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 28px;
  line-height: 21px;
  color: #84868b;
  margin-bottom: 77px;
  line-height: 22.25px;
}
.offers__description-participate-button {
  background: none;
  width: 115px;
  height: 31px;
  box-sizing: content-box;
  border: 2px solid #292c3a;
  outline: none;
  text-transform: uppercase;
  float: right;
  margin-right: -9px;
  font-size: 13px;
  padding: 1px 8px;
}
.offers__description-participate-button:hover {
  background: #292c3a;
  color: #ffffff;
}
.offers__description-participate-button:active {
  position: relative;
  top: 2px;
}
.offers__appointment-button {
  width: 287px;
  height: 58px;
  background: #b1e06f;
  border: none;
  outline: none;
  color: #282a33;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 36px;
  margin-left: -85px;
  line-height: normal;
  color: #ffffff;
  display: block;
  margin: 32px auto 0 auto;
}
.offers__appointment-button:hover {
  background: #ffffff;
}
.offers__appointment-button:active {
  position: relative;
  top: 2px;
}
.offers__appointment-button:hover {
  background: #292c3a;
  color: #ffffff;
}
.offers__program-table {
  width: 100%;
}
.offers__program-table-heading {
  background: #b1e06f;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.offers__program-table-heading-cell_1 {
  height: 60px;
  width: 1036px;
  padding: 0 31px;
  vertical-align: middle;
}
.offers__program-table-heading-cell_empty {
  background: #ffffff;
  width: 11px;
}
.offers__program-table-heading-cell_2 {
  height: 60px;
  width: 1036px;
  padding: 0 31px;
  vertical-align: middle;
  width: 123px;
  padding: 0 24px;
}
.offers__program-table-main {
  font-size: 18px;
  color: #7c7d83;
}
.offers__program-table-main-row:nth-child(2n+3) {
  background: #f7f8f8;
}
.offers__program-table-main-cell_1 {
  height: 41px;
  width: 1036px;
  padding: 0 31px;
  vertical-align: middle;
}
.offers__program-table-main-cell_empty {
  height: 34px;
}
.offers__program-table-main-cell_2 {
  height: 41px;
  width: 123px;
  vertical-align: middle;
  padding: 0 41px;
}
.blog {
  padding: 82px 0 117px 0;
  background: #dcdcdd;
}
.blog__heading {
  font-size: 36px;
  font-weight: 700;
  color: #282a33;
  text-transform: uppercase;
  padding-bottom: 24px;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 60px;
}
.video-container {
  height: 432px;
}
.blog__video {
  width: 100%;
  height: 100%;
  border-width: 0;
}
.blog__subscription {
  background: #ffffff;
  margin-top: 25px;
  padding: 61px 59px 30px 53px;
  float: left;
}
.blog__subscription-text {
  color: #50535b;
  font-size: 17px;
  font-weight: 700;
  margin-right: 37px;
  float: left;
  position: relative;
  top: 10px;
}
.blog__subscription-email {
  width: 321px;
  height: 57px;
  background: #f3f3f3;
  padding: 0 22px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #292c3a;
  float: left;
  margin-bottom: 29px;
}
.blog__subscription-email::-webkit-input-placeholder {
  color: #bfbfc2;
}
.blog__subscription-email::-moz-placeholder {
  color: #bfbfc2;
}
.blog__subscription-email:-moz-placeholder {
  color: #bfbfc2;
}
.blog__subscription-email:-ms-input-placeholder {
  color: #bfbfc2;
}
.blog__subscription-networks {
  width: 144px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: -20px;
}
.blog__subscription-networks-link:hover .secrete {
  display: none;
}
.blog__subscription-networks-link:hover .display-none {
  display: block;
}
.display-none {
  display: none;
}
.blog__subscription-button {
  width: 121px;
  height: 37px;
  background: #b1e06f;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  float: right;
  line-height: normal;
}
.blog__subscription-button:hover {
  background: none;
  color: #292c3a;
  outline: 2px solid #292c3a;
}
.blog__subscription-button:active {
  position: relative;
  top: 2px;
}
.blog__description {
  background: #ffffff;
  padding: 48px 54px 30px 48px;
  float: left;
}
.blog__description-heading {
  color: #292c3a;
  font-size: 29px;
  border-bottom: 2px solid #b1e06f;
  padding-bottom: 26px;
  margin: 0 0 23px 0;
}
.blog__description-text {
  color: #84868b;
  font-size: 18px;
  margin-bottom: 45px;
  line-height: 21px;
}
.blog__description-subheading {
  color: #292c3a;
  font-size: 29px;
  border-bottom: 2px solid #b1e06f;
  padding-bottom: 26px;
  margin: 0 0 23px 0;
  margin-bottom: 21px;
}
.blog__description-article-heading {
  color: #50535b;
  font-size: 23px;
  margin-bottom: 7px;
}
.blog__description-article-heading:hover {
  text-decoration: none;
  color: #b1e06f;
}
.blog__description-article-heading:focus {
  text-decoration: none;
}
.blog__description-article-text {
  color: #84868b;
  font-size: 16px;
  height: 225px;
}
.blog__description-button {
  width: 121px;
  height: 37px;
  background: #b1e06f;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  float: right;
  line-height: normal;
  width: 135px;
  margin-right: -5px;
}
.blog__description-button:hover {
  background: none;
  color: #292c3a;
  outline: 2px solid #292c3a;
}
.blog__description-button:active {
  position: relative;
  top: 2px;
}
.contacts {
  padding: 82px 0 49px 0;
  background: linear-gradient(to right, #292c3a 59.3%, #ffffff 59.3%, #ffffff);
}
.contacts .col-lg-7._shorter {
  padding-right: 130px;
}
.contacts .col-lg-5._shorter {
  padding-left: 127px;
}
.contacts__info .row {
  margin: 0 -15px;
}
.contacts__info-heading {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 24px;
  border-bottom: 2px solid #b1e06f;
  margin-bottom: 52px;
}
.contacts__info-contact-heading {
  color: #b1e06f;
  font-size: 20px;
  margin-bottom: 23px;
}
.contacts__info-contact-text {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 23px;
}
.contacts__info-time {
  margin-left: 37px;
}
.contacts__info-time-heading {
  color: #b1e06f;
  font-size: 20px;
  margin-bottom: 23px;
}
.contacts__info-time-text {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 23px;
  color: #7c7d83;
  margin-bottom: 20px;
}
.contacts__info-time-text_green {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 23px;
  color: #7c7d83;
  margin-bottom: 20px;
  color: #b1e06f;
  margin-bottom: 27px;
}
.contacts__callback .row {
  margin: 0 -15px;
}
.contacts__callback-heading {
  color: #292c3a;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 29px;
  border-bottom: 2px solid #b1e06f;
  margin-bottom: 52px;
}
.contacts__callback-text {
  color: #7c7d83;
  font-size: 18px;
  margin-bottom: 25px;
  float: left;
}
.contacts__callback-input-name {
  width: 321px;
  height: 57px;
  background: #f3f3f3;
  padding: 0 22px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #292c3a;
  float: left;
  margin-bottom: 29px;
  width: 100%;
  margin-bottom: 26px;
}
.contacts__callback-input-name::-webkit-input-placeholder {
  color: #bfbfc2;
}
.contacts__callback-input-name::-moz-placeholder {
  color: #bfbfc2;
}
.contacts__callback-input-name:-moz-placeholder {
  color: #bfbfc2;
}
.contacts__callback-input-name:-ms-input-placeholder {
  color: #bfbfc2;
}
.contacts__callback-input-phone {
  width: 321px;
  height: 57px;
  background: #f3f3f3;
  padding: 0 22px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #292c3a;
  float: left;
  width: 100%;
  margin-bottom: 26px;
  margin-bottom: 29px;
}
.contacts__callback-input-phone::-webkit-input-placeholder {
  color: #bfbfc2;
}
.contacts__callback-input-phone::-moz-placeholder {
  color: #bfbfc2;
}
.contacts__callback-input-phone:-moz-placeholder {
  color: #bfbfc2;
}
.contacts__callback-input-phone:-ms-input-placeholder {
  color: #bfbfc2;
}
.contacts__callback-button {
  width: 199px;
  height: 46px;
  background: #292c3a;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  float: right;
  border: none;
  outline: none;
  line-height: normal;
}
.contacts__callback-button:hover {
  background: #b1e06f;
}
.contacts__callback-button:active {
  position: relative;
  top: 2px;
}
.map {
  height: 580px;
}
.map__infoWindow-heading {
  text-transform: uppercase;
  color: #292c3a;
  font-weight: 700;
}
.map__infoWindow-address {
  text-align: center;
}
.footer {
  background: #292c3a;
  padding: 52px 0 22px 0;
  text-align: center;
}
.footer .row {
  margin: 0;
}
.footer__logo {
  display: inline-block;
  margin-bottom: 14px;
}
.footer__copyright-text {
  color: #424554;
  font-size: 9px;
}
.footer__up {
  display: block;
  float: right;
  position: relative;
  top: 2px;
}
.footer__up:hover .sprite-up {
  display: none;
}
.footer__up:hover .sprite-up_hover {
  display: block;
}
.sprite-up_hover {
  display: none;
}
.header-modal__content {
  background: none;
  border-radius: 0;
  padding: 0 81px;
  border: none;
}
.header-modal__wrap {
  float: left;
  background: #ffffff;
  padding: 42px 42px 36px 41px;
}
.header-modal__button-close {
  position: relative;
  top: -30px;
  right: -25px;
}
.header-modal__heading {
  color: #292c3a;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 29px;
  border-bottom: 2px solid #b1e06f;
  margin-bottom: 52px;
  margin-bottom: 27px;
}
.header-modal__text {
  color: #7c7d83;
  font-size: 18px;
  margin-bottom: 25px;
  float: left;
  font-size: 15px;
  text-transform: none;
}
.header-modal__callback-text {
  color: #7c7d83;
  font-size: 18px;
  margin-bottom: 25px;
  float: left;
  text-transform: none;
}
.header-modal__callback-input-name {
  width: 321px;
  height: 57px;
  background: #f3f3f3;
  padding: 0 22px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #292c3a;
  float: left;
  margin-bottom: 29px;
  margin-bottom: 26px;
  width: 100%;
}
.header-modal__callback-input-name::-webkit-input-placeholder {
  color: #bfbfc2;
}
.header-modal__callback-input-name::-moz-placeholder {
  color: #bfbfc2;
}
.header-modal__callback-input-name:-moz-placeholder {
  color: #bfbfc2;
}
.header-modal__callback-input-name:-ms-input-placeholder {
  color: #bfbfc2;
}
.header-modal__callback-input-phone {
  width: 321px;
  height: 57px;
  background: #f3f3f3;
  padding: 0 22px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #292c3a;
  float: left;
  margin-bottom: 26px;
  margin-bottom: 29px;
  width: 100%;
}
.header-modal__callback-input-phone::-webkit-input-placeholder {
  color: #bfbfc2;
}
.header-modal__callback-input-phone::-moz-placeholder {
  color: #bfbfc2;
}
.header-modal__callback-input-phone:-moz-placeholder {
  color: #bfbfc2;
}
.header-modal__callback-input-phone:-ms-input-placeholder {
  color: #bfbfc2;
}
.header-modal__callback-button {
  width: 199px;
  height: 46px;
  background: #292c3a;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  float: right;
  border: none;
  outline: none;
  line-height: normal;
  margin-right: 0;
}
.header-modal__callback-button:hover {
  background: #b1e06f;
}
.header-modal__callback-button:active {
  position: relative;
  top: 2px;
}
.services-modal .modal-lg {
  width: 88%;
}
.services-modal__content {
  background: none;
  border-radius: 0;
  border: none;
  box-shadow: none;
}
.services-modal__wrap {
  float: left;
  background: #ffffff;
  padding: 22px 60px 14px 60px;
}
.services-modal__button-close {
  position: relative;
  top: -15px;
  right: -43px;
}
.services-modal__table {
  width: 100%;
  margin-bottom: 33px;
}
.services-modal__table-heading {
  background: #b1e06f;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.services-modal__table-heading-cell_1 {
  height: 60px;
  width: 1036px;
  padding: 0 31px;
  vertical-align: middle;
}
.services-modal__table-heading-cell_empty {
  background: #ffffff;
  width: 11px;
}
.services-modal__table-heading-cell_2 {
  height: 60px;
  width: 1036px;
  padding: 0 31px;
  vertical-align: middle;
  width: 123px;
  padding: 0 24px;
  width: 182px;
  text-align: center;
}
.services-modal__table-main {
  font-size: 18px;
  color: #7c7d83;
}
.services-modal__table-main-row:nth-child(2n+3) {
  background: #f7f8f8;
}
.services-modal__table-main-cell_1 {
  height: 41px;
  width: 1036px;
  padding: 0 31px;
  vertical-align: middle;
  height: 40px;
}
.services-modal__table-main-cell_empty {
  height: 34px;
}
.services-modal__table-main-cell_2 {
  height: 41px;
  width: 123px;
  vertical-align: middle;
  padding: 0 41px;
  text-align: center;
}
.services-modal__table-service-price:hover {
  cursor: pointer;
}
.services-modal__table-checkbox {
  display: none;
}
.services-modal__total {
  float: right;
}
.services-modal__total-text {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #7c7d83;
  float: left;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 27px;
}
.services-modal__total-output {
  width: 165px;
  height: 40px;
  background: #b1e06f;
  color: #ffffff;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-modal__form {
  position: relative;
  top: -41px;
}
.services-modal__heading {
  color: #292c3a;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 29px;
  border-bottom: 2px solid #b1e06f;
  margin-bottom: 52px;
  margin-bottom: 27px;
}
.services-modal__text {
  color: #7c7d83;
  font-size: 18px;
  margin-bottom: 25px;
  float: left;
  font-size: 15px;
  text-transform: none;
}
.services-modal__callback-text {
  color: #7c7d83;
  font-size: 18px;
  margin-bottom: 25px;
  float: left;
  text-transform: none;
}
.services-modal__callback-input-name {
  width: 321px;
  height: 57px;
  background: #f3f3f3;
  padding: 0 22px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #292c3a;
  float: left;
  margin-bottom: 29px;
  margin-bottom: 26px;
  width: 100%;
}
.services-modal__callback-input-name::-webkit-input-placeholder {
  color: #bfbfc2;
}
.services-modal__callback-input-name::-moz-placeholder {
  color: #bfbfc2;
}
.services-modal__callback-input-name:-moz-placeholder {
  color: #bfbfc2;
}
.services-modal__callback-input-name:-ms-input-placeholder {
  color: #bfbfc2;
}
.services-modal__callback-input-phone {
  width: 321px;
  height: 57px;
  background: #f3f3f3;
  padding: 0 22px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #292c3a;
  float: left;
  margin-bottom: 26px;
  margin-bottom: 29px;
  width: 100%;
}
.services-modal__callback-input-phone::-webkit-input-placeholder {
  color: #bfbfc2;
}
.services-modal__callback-input-phone::-moz-placeholder {
  color: #bfbfc2;
}
.services-modal__callback-input-phone:-moz-placeholder {
  color: #bfbfc2;
}
.services-modal__callback-input-phone:-ms-input-placeholder {
  color: #bfbfc2;
}
.services-modal .owl-carousel {
  margin-top: 54px;
  margin-left: 26px;
}
.services-modal .item {
  text-align: center;
}
.services-modal .item__name {
  color: #7c7d83;
}
.services-modal__callback-button {
  width: 199px;
  height: 46px;
  background: #292c3a;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  float: right;
  border: none;
  outline: none;
  line-height: normal;
  margin-right: 0;
}
.services-modal__callback-button:hover {
  background: #b1e06f;
}
.services-modal__callback-button:active {
  position: relative;
  top: 2px;
}
.feedback-modal-1__content {
  background: none;
  border-radius: 0;
  margin: 0 36px;
  border: none;
}
.feedback-modal-1__wrap {
  background: #ffffff;
  padding: 38px 53px 43px 45px;
  float: left;
}
.feedback-modal-1__button-close {
  position: relative;
  top: -30px;
  right: -35px;
}
.feedback-modal-1__heading {
  color: #292c3a;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 29px;
  border-bottom: 2px solid #b1e06f;
  margin-bottom: 52px;
  padding-bottom: 15px;
  margin-bottom: 21px;
  text-align: left;
}
.feedback-modal-1__callback-text {
  color: #7c7d83;
  font-size: 18px;
  margin-bottom: 25px;
  float: left;
  text-transform: none;
}
.feedback-modal-1__callback-input-name {
  width: 321px;
  height: 57px;
  background: #f3f3f3;
  padding: 0 22px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #292c3a;
  float: left;
  margin-bottom: 29px;
  width: 100%;
  margin-bottom: 26px;
}
.feedback-modal-1__callback-input-name::-webkit-input-placeholder {
  color: #bfbfc2;
}
.feedback-modal-1__callback-input-name::-moz-placeholder {
  color: #bfbfc2;
}
.feedback-modal-1__callback-input-name:-moz-placeholder {
  color: #bfbfc2;
}
.feedback-modal-1__callback-input-name:-ms-input-placeholder {
  color: #bfbfc2;
}
.feedback-modal-1__callback-input-phone {
  width: 321px;
  height: 57px;
  background: #f3f3f3;
  padding: 0 22px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #292c3a;
  float: left;
  width: 100%;
  margin-bottom: 26px;
  margin-bottom: 29px;
}
.feedback-modal-1__callback-input-phone::-webkit-input-placeholder {
  color: #bfbfc2;
}
.feedback-modal-1__callback-input-phone::-moz-placeholder {
  color: #bfbfc2;
}
.feedback-modal-1__callback-input-phone:-moz-placeholder {
  color: #bfbfc2;
}
.feedback-modal-1__callback-input-phone:-ms-input-placeholder {
  color: #bfbfc2;
}
.margin-left {
  margin-left: 15px;
}
.feedback-modal-1__callback-text-area {
  width: 100%;
  height: 208px;
  resize: none;
  border: 2px solid #f3f3f3;
  margin-bottom: 12px;
}
.feedback-modal-1__callback-button {
  width: 199px;
  height: 46px;
  background: #292c3a;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  float: right;
  border: none;
  outline: none;
  line-height: normal;
  margin-right: 0;
}
.feedback-modal-1__callback-button:hover {
  background: #b1e06f;
}
.feedback-modal-1__callback-button:active {
  position: relative;
  top: 2px;
}
.feedback-modal-2__content {
  background: none;
  border-radius: 0;
  margin: 0 36px;
  border: none;
}
.feedback-modal-2__wrap {
  background: #ffffff;
  padding: 38px 53px 43px 45px;
  float: left;
  padding: 41px 50px 38px 51px;
}
.feedback-modal-2__button-close {
  position: relative;
  top: -30px;
  right: -35px;
}
.feedback-modal-2__heading {
  color: #292c3a;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 29px;
  border-bottom: 2px solid #b1e06f;
  margin-bottom: 52px;
  padding-bottom: 15px;
  margin-bottom: 21px;
  text-align: left;
}
.feedback-modal-2__callback-text {
  color: #7c7d83;
  font-size: 18px;
  margin-bottom: 25px;
  float: left;
  text-transform: none;
  margin-bottom: 11px;
}
.feedback-modal-2__callback-input-name {
  width: 321px;
  height: 57px;
  background: #f3f3f3;
  padding: 0 22px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #292c3a;
  float: left;
  margin-bottom: 29px;
  width: 100%;
  margin-bottom: 26px;
  margin-bottom: 16px;
}
.feedback-modal-2__callback-input-name::-webkit-input-placeholder {
  color: #bfbfc2;
}
.feedback-modal-2__callback-input-name::-moz-placeholder {
  color: #bfbfc2;
}
.feedback-modal-2__callback-input-name:-moz-placeholder {
  color: #bfbfc2;
}
.feedback-modal-2__callback-input-name:-ms-input-placeholder {
  color: #bfbfc2;
}
.feedback-modal-2__callback-input-phone {
  width: 321px;
  height: 57px;
  background: #f3f3f3;
  padding: 0 22px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #292c3a;
  float: left;
  margin-bottom: 29px;
  width: 100%;
  margin-bottom: 26px;
  margin-bottom: 16px;
}
.feedback-modal-2__callback-input-phone::-webkit-input-placeholder {
  color: #bfbfc2;
}
.feedback-modal-2__callback-input-phone::-moz-placeholder {
  color: #bfbfc2;
}
.feedback-modal-2__callback-input-phone:-moz-placeholder {
  color: #bfbfc2;
}
.feedback-modal-2__callback-input-phone:-ms-input-placeholder {
  color: #bfbfc2;
}
.feedback-modal-2__callback-input-email {
  width: 321px;
  height: 57px;
  background: #f3f3f3;
  padding: 0 22px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #292c3a;
  float: left;
  margin-bottom: 29px;
  width: 100%;
  margin-bottom: 26px;
  margin-bottom: 16px;
  margin-bottom: 0;
}
.feedback-modal-2__callback-input-email::-webkit-input-placeholder {
  color: #bfbfc2;
}
.feedback-modal-2__callback-input-email::-moz-placeholder {
  color: #bfbfc2;
}
.feedback-modal-2__callback-input-email:-moz-placeholder {
  color: #bfbfc2;
}
.feedback-modal-2__callback-input-email:-ms-input-placeholder {
  color: #bfbfc2;
}
.feedback-modal-2__callback-text-area {
  height: 208px;
  resize: none;
  border: 2px solid #f3f3f3;
  margin-bottom: 12px;
  width: 100%;
  height: 261px;
  margin-top: 29px;
}
.feedback-modal-2__callback-button {
  width: 199px;
  height: 46px;
  background: #292c3a;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  float: right;
  border: none;
  outline: none;
  line-height: normal;
  margin-right: 0;
}
.feedback-modal-2__callback-button:hover {
  background: #b1e06f;
}
.feedback-modal-2__callback-button:active {
  position: relative;
  top: 2px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header .row {
    margin: 0;
  }
  .content .row {
    margin: 0;
  }
  .menu__list {
    margin-left: 50px;
  }
  .menu__list-item {
    padding: 0 10px;
  }
  .phone {
    padding: 0;
  }
  .button {
    padding: 0;
  }
  .header__phone {
    margin-left: 35px;
    font-size: 17px;
  }
  .header__button {
    margin-left: 37px;
  }
  .about-clinic {
    padding: 56px 0;
  }
  .about-clinic .col-lg-6._shorter {
    padding-left: 33px;
  }
  .about-clinic__introduction-text {
    font-size: 23px;
    line-height: 26px;
  }
  .about-clinic__reason-text {
    font-size: 23px;
    line-height: 26px;
    margin-bottom: 27px;
  }
  .about-clinic__team-text {
    font-size: 18px;
    line-height: 20px;
  }
  .about-clinic__equipment-text {
    font-size: 18px;
    line-height: 20px;
  }
  .about-clinic__space-text {
    font-size: 18px;
    line-height: 20px;
  }
  .about-clinic__time-text {
    font-size: 17px;
    line-height: 20px;
  }
  .about-clinic__wish-text {
    font-size: 18px;
    line-height: 20px;
  }
  .services {
    padding: 60px 0;
  }
  .services__heading {
    margin-bottom: 60px;
  }
  .services__group-item {
    font-size: 15px;
  }
  .services .padding-left {
    padding-left: 93px;
  }
  .services .padding-left:nth-child(3) {
    padding-left: 77px;
  }
  .feedback__review-button {
    margin-left: 0;
  }
  .feedback__question-button {
    margin-right: 0;
  }
  .experts .owl-prev {
    margin-left: 0;
  }
  .offers .nav-tabs__list-item_margins {
    margin: 0;
  }
  .offers .col-lg-7._shorter {
    margin-right: 8px;
  }
  .offers__description-text {
    margin-bottom: 96px;
  }
  .blog .col-md-4 {
    padding-left: 0;
  }
  .video-container {
    height: 351px;
  }
  .blog__video {
    height: 351px;
  }
  .blog__subscription {
    padding: 20px 19px 20px 19px;
  }
  .blog__subscription-email {
    width: 253px;
  }
  .blog__description {
    padding: 20px 19px 20px 19px;
  }
  .blog__description-text {
    line-height: 18px;
  }
  .blog__description-article-text {
    height: 146px;
  }
  .blog__description-button {
    margin-right: 0;
  }
  .contacts {
    background: linear-gradient(to right, #292c3a 57%, #ffffff 57%, #ffffff);
  }
  .contacts__info .row {
    margin: 0 -15px;
  }
  .contacts .col-md-5._shorter {
    padding-left: 38px;
  }
  .contacts__callback .row {
    margin: 0 -15px;
  }
  .contacts__callback-input-name {
    width: 100%;
  }
  .contacts__callback-input-phone {
    width: 100%;
  }
  .feedback-modal-1__callback-text {
    display: block;
    float: none;
  }
  .margin-left {
    margin-left: 0;
  }
  .services-modal__wrap {
    float: none;
  }
  .services-modal__form {
    position: static;
  }
  .services-modal__text {
    float: none;
  }
  .feedback-modal-1__callback-input-name {
    width: 100%;
  }
  .feedback-modal-1__callback-input-phone {
    width: 100%;
  }
  .feedback-modal-2__callback-text {
    display: block;
  }
  .feedback-modal-2__callback-input-name {
    width: 100%;
  }
  .feedback-modal-2__callback-input-phone {
    width: 100%;
  }
  .feedback-modal-2__callback-input-email {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header .row {
    margin: 0;
  }
  .navbar-header {
    padding: 0 15px;
  }
  .navbar-toggle {
    display: block;
    border: 2px solid #b1e06f;
    margin-right: 0;
  }
  .navbar-toggle:active {
    position: relative;
    top: 2px;
  }
  .navbar-toggle .icon-bar {
    background: #b1e06f;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .menu {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -149px;
    margin-left: -254px;
    z-index: 3;
  }
  .menu__list {
    float: none!important;
    text-align: center;
    margin-left: 0;
  }
  .menu__list-item {
    display: block;
    float: none;
    margin: 20px 0;
    padding-right: 0;
  }
  .menu__list-item-link {
    font-size: 14px;
  }
  .phone {
    float: left;
  }
  .button {
    float: right;
    margin-left: 200px;
    height: 34px;
  }
  .header__phone {
    margin-left: 0;
  }
  .header__button {
    margin: 0 3px 0 0;
  }
  .collapse.in {
    display: block !important;
  }
  .content .row {
    margin: 0;
  }
  .benefits {
    padding: 70px 0;
  }
  .about-clinic {
    padding: 56px 0;
  }
  .about-clinic__introduction-text {
    font-size: 25px;
    line-height: normal;
  }
  .about-clinic .col-lg-6._shorter {
    padding-left: 15px;
  }
  .about-clinic__reason-text {
    font-size: 25px;
    line-height: normal;
    margin-top: 37px;
  }
  .about-clinic__team-text {
    margin-top: 0;
    line-height: normal;
  }
  .about-clinic__equipment-text {
    margin-top: 0;
    line-height: normal;
  }
  .about-clinic__space-text {
    margin-top: 0;
    line-height: normal;
  }
  .about-clinic__time-text {
    margin-top: 0;
    line-height: normal;
  }
  .about-clinic__wish-text {
    line-height: normal;
  }
  .services {
    padding: 60px 0;
  }
  .services__heading {
    margin-bottom: 60px;
  }
  .services__group-item {
    font-size: 15px;
  }
  .services .padding-left {
    padding-left: 20px;
  }
  .services .padding-left:nth-child(3) {
    padding-left: 40px;
  }
  .feedback {
    padding: 52px 0;
  }
  .feedback__review-button {
    margin: 0 0 36px 0;
  }
  .feedback__question-button {
    width: 287px;
    margin-right: 0;
  }
  .experts {
    padding: 70px 0;
  }
  .experts .owl-prev {
    margin-left: 0;
  }
  .offers {
    padding: 50px 0;
  }
  .offers__heading-line {
    margin-bottom: 50px;
  }
  .offers .nav-tabs {
    display: block;
    margin-bottom: 60px;
  }
  .offers .nav-tabs > li {
    float: none;
    display: flex;
    justify-content: center;
  }
  .offers .nav-tabs__list-item_margins {
    margin: 20px 0;
  }
  .offers .col-sm-12._shorter {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .offers .col-sm-12._longer {
    width: 100%;
  }
  .blog {
    padding: 60px 0;
  }
  .blog__subscription {
    margin-bottom: 22px;
  }
  .blog__subscription-email {
    width: 282px;
  }
  .blog__description-button {
    margin-right: 0;
  }
  .contacts {
    background: linear-gradient(to bottom, #292c3a 58%, #ffffff 58%, #ffffff);
    padding: 41px 0;
  }
  .contacts .col-sm-12._shorter {
    padding: 0 15px;
  }
  .contacts__info .row {
    margin: 0 -15px;
  }
  .contacts__info-time {
    margin-left: 122px;
  }
  .contacts__callback .row {
    margin: 0 -15px;
  }
  .contacts__callback {
    margin-top: 40px;
  }
  .contacts__callback-text {
    display: block;
    float: none;
  }
  .contacts__callback-input-name {
    width: 100%;
  }
  .contacts__callback-input-phone {
    width: 100%;
  }
  .feedback-modal-1__callback-text {
    display: block;
    float: none;
  }
  .margin-left {
    margin-left: 0;
  }
  .services-modal__wrap {
    float: none;
  }
  .services-modal__form {
    position: static;
  }
  .services-modal__text {
    float: none;
  }
  .feedback-modal-1__callback-input-name {
    width: 100%;
  }
  .feedback-modal-1__callback-input-phone {
    width: 100%;
  }
  .feedback-modal-2__callback-text {
    display: block;
  }
  .feedback-modal-2__callback-input-name {
    width: 100%;
  }
  .feedback-modal-2__callback-input-phone {
    width: 100%;
  }
  .feedback-modal-2__callback-input-email {
    width: 100%;
  }
}
@media (max-width: 767px) {
  body {
    min-width: 320px;
  }
  .header .row {
    margin: 0;
  }
  .container > .navbar-header {
    margin: 0;
    padding: 0 15px;
  }
  .navbar-toggle {
    display: block;
    border: 2px solid #b1e06f;
    margin-right: 0;
  }
  .navbar-toggle:active {
    position: relative;
    top: 2px;
  }
  .navbar-toggle .icon-bar {
    background: #b1e06f;
  }
  .navbar-collapse {
    box-shadow: none;
  }
  .menu {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -95px;
    margin-left: -47px;
    z-index: 3;
  }
  .menu__list {
    float: none!important;
    text-align: center;
    margin-left: 0;
  }
  .menu__list-item {
    display: block;
    float: none;
    margin: 15px 0;
    padding-right: 0;
  }
  .menu__list-item-link {
    font-size: 14px;
  }
  .header__phone {
    margin-left: 0;
    font-size: 16px;
  }
  .header__button {
    margin-left: 0;
  }
  .header__presentation-heading {
    font-size: 38px;
  }
  .content .row {
    margin: 0;
  }
  .benefits {
    padding: 70px 0;
  }
  .benefits__item {
    display: block;
  }
  .about-clinic {
    padding: 56px 0;
  }
  .about-clinic__introduction-text {
    font-size: 18px;
    line-height: normal;
  }
  .about-clinic .owl-nav {
    top: 80%;
  }
  .about-clinic .col-lg-6._shorter {
    padding-left: 15px;
  }
  .about-clinic__reason-text {
    font-size: 18px;
    line-height: normal;
    margin-top: 37px;
  }
  .about-clinic__team-text {
    font-size: 17px;
    margin-top: 0;
    line-height: normal;
  }
  .about-clinic__equipment-text {
    font-size: 17px;
    margin-top: 0;
    line-height: normal;
  }
  .about-clinic__space-text {
    font-size: 17px;
    margin-top: 0;
    line-height: normal;
  }
  .about-clinic__time-text {
    font-size: 17px;
    margin-top: 0;
    line-height: normal;
  }
  .about-clinic__wish-text {
    line-height: normal;
    font-size: 17px;
  }
  .search-for-services {
    padding: 50px 0;
  }
  .search-for-services .wrap {
    width: 320px;
  }
  .search-for-services__search-form-item-text {
    width: 93%;
    color: #f7f8f8;
  }
  .services {
    padding: 40px 0;
  }
  .services__heading {
    margin-bottom: 50px;
  }
  .services__group-item {
    font-size: 15px;
  }
  .services .padding-left {
    padding-left: 15px;
  }
  .services .padding-left:nth-child(3) {
    padding-left: 15px;
  }
  .feedback {
    padding: 52px 0;
  }
  .feedback__review-button {
    margin: 0 0 36px 0;
  }
  .feedback__logo-text {
    font-size: 14px;
  }
  .feedback__question-button {
    width: 287px;
    margin-right: 0;
  }
  .experts {
    padding: 70px 0;
  }
  .experts .owl-prev {
    margin-left: 0;
  }
  .offers {
    padding: 50px 0;
  }
  .offers__heading-line {
    margin-bottom: 50px;
  }
  .offers .nav-tabs {
    display: block;
    margin-bottom: 60px;
  }
  .offers .nav-tabs > li {
    float: none;
    display: flex;
    justify-content: center;
  }
  .offers .nav-tabs__list-item_margins {
    margin: 20px 0;
  }
  .offers .col-sm-12._shorter {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .offers__paragraphs-item {
    padding-bottom: 27px;
    margin-bottom: 27px;
  }
  .offers .col-sm-12._longer {
    width: 100%;
  }
  .offers__program-table-heading-cell_1 {
    padding: 0 4px;
  }
  .offers__program-table-heading-cell_2 {
    padding: 0 4px;
  }
  .offers__program-table-main-cell_1 {
    padding: 0 4px;
  }
  .offers__program-table-main-cell_2 {
    padding: 0 4px;
  }
  .blog {
    padding: 60px 0;
  }
  .video-container {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
  }
  .blog__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .blog__subscription {
    width: 100%;
    padding: 30px 30px;
    margin-bottom: 22px;
  }
  .blog__subscription-text {
    font-size: 15px;
    margin-right: 0;
    position: static;
    display: block;
    float: none;
    margin-bottom: 29px;
  }
  .blog__subscription-email {
    width: 100%;
    display: block;
    float: none;
  }
  .blog__subscription-networks {
    width: 90px;
  }
  .blog__description {
    padding: 30px 30px;
  }
  .blog__description-text {
    font-size: 15px;
  }
  .blog__description-button {
    margin-right: 0;
  }
  .contacts {
    background: linear-gradient(to bottom, #292c3a 61%, #ffffff 61%, #ffffff);
    padding: 41px 0;
  }
  .contacts .col-sm-12._shorter {
    padding: 0 15px;
  }
  .contacts__info .row {
    margin: 0 -15px;
  }
  .contacts__info-time {
    margin-left: 0;
  }
  .contacts__callback .row {
    margin: 0 -15px;
  }
  .contacts__callback {
    margin-top: 40px;
  }
  .contacts__callback-text {
    display: block;
    float: none;
  }
  .contacts__callback-input-name {
    width: 100%;
  }
  .contacts__callback-input-phone {
    width: 100%;
  }
  .map {
    height: 300px;
  }
  .footer__up {
    margin-right: 7px;
  }
  .services-modal .modal-lg {
    width: 97.35%;
  }
  .services-modal__wrap {
    float: none;
  }
  .services-modal__form {
    position: static;
  }
  .services-modal__text {
    float: none;
  }
  .feedback-modal-1__callback-text {
    display: block;
    float: none;
  }
  .margin-left {
    margin-left: 0;
  }
  .feedback-modal-1__callback-input-name {
    width: 100%;
  }
  .feedback-modal-1__callback-input-phone {
    width: 100%;
  }
  .feedback-modal-2__callback-text {
    display: block;
  }
  .feedback-modal-2__callback-input-name {
    width: 100%;
  }
  .feedback-modal-2__callback-input-phone {
    width: 100%;
  }
  .feedback-modal-2__callback-input-email {
    width: 100%;
  }
}
/*
.header, .benefits, .about-clinic, .search-for-services, .services, .feedback, .experts, .offers, .blog, .contacts, .map, .footer {
  display: none;
}*/
