@import "reset.css";
@import "../vendor/bootstrap/css/bootstrap.min.css";
@import "../vendor/owlCarousel/assets/owl.carousel.min.css";
@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MyriadProSemiBold";
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MyriadProBold";
  src: url("../fonts/MyriadProBold/MyriadProBold.eot");
  src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  font-family: "MyriadProRegular", sans-serif;
}
.header {
  background: url(../img/header-bg.jpg) no-repeat;
  background-size: cover;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 64px;
}
.header a {
  color: #ffffff;
}
.header .header__logo-link {
  display: inline-block;
}
.header .menu {
  padding-top: 18px;
}
.header .menu .menu__list {
  font-size: 0;
  text-align: center;
}
.header .menu .menu__list-item {
  display: inline-block;
  font-size: 12px;
  padding: 0 15px;
  transform: scaleX(0.87);
}
.header .header__phone {
  padding-top: 18px;
}
.header .header__button {
  width: 160px;
  height: 35px;
  margin-top: 7px;
  background: none;
  font-size: 11px;
  font-weight: 700;
  outline: 2px solid #b1e06f;
  border: none;
}
.header .header__presentation {
  padding-top: 246px;
  padding-bottom: 263px;
}
.header .header__presentation .header__presentation-heading {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 20px;
}
.header .header__presentation .header__presentation-text {
  font-size: 21px;
  color: #b1e06f;
}
.content .benefits {
  background: #b1e06f;
  padding-top: 139px;
  padding-bottom: 126px;
}
.content .benefits .benefits__item {
  color: #ffffff;
  text-transform: uppercase;
}
.content .benefits .benefits__item .benefits__item-text {
  margin-top: 29px;
  font-size: 17px;
  text-align: center;
}
.content .about-clinic {
  padding-top: 117px;
  padding-bottom: 117px;
  background: #fafafa;
}
.content .about-clinic .about-clinic__heading {
  text-transform: uppercase;
  color: #282a33;
  font-size: 36px;
  font-weight: 700;
  border-bottom: 2px solid #b1e06f;
  padding-bottom: 29px;
  margin-bottom: 54px;
}
.content .about-clinic .about-clinic__introduction-text {
  font-size: 28px;
  color: #282a33;
  margin-bottom: 42px;
}
.content .about-clinic .carousel-control {
  top: 314px;
  bottom: 19px;
  background-image: none;
  width: 3.5%;
}
.content .about-clinic .left {
  margin-left: 21px;
}
.content .about-clinic .right {
  margin-right: 22px;
}
.content .about-clinic .about-clinic__reason-text {
  font-size: 27px;
  color: #282a33;
  margin-bottom: 43px;
}
.content .about-clinic .about-clinic__team-text {
  font-size: 21px;
  color: #282a33;
  margin-bottom: 21px;
}
.content .about-clinic .about-clinic__equipment-text {
  font-size: 21px;
  color: #282a33;
  margin-bottom: 21px;
}
.content .about-clinic .about-clinic__space-text {
  font-size: 21px;
  color: #282a33;
  margin-bottom: 21px;
}
.content .about-clinic .about-clinic__time-text {
  font-size: 21px;
  color: #282a33;
  margin-bottom: 21px;
}
.content .about-clinic .about-clinic__wish-text {
  font-size: 21px;
  color: #282a33;
  margin-bottom: 21px;
  margin: 35px 0 0 0;
  margin-left: 232px;
}
.content .about-clinic .about-clinic__line {
  border-top: 2px solid #b1e06f;
  width: 47%;
  margin-bottom: 10px;
  position: relative;
  left: -147px;
}
.content .search-for-services {
  padding: 73px 0 65px 0;
  background: #292c3a;
  text-align: center;
}
.content .search-for-services .search-for-services__heading {
  display: inline-block;
  text-transform: uppercase;
  font-size: 19px;
  color: #ffffff;
  border-bottom: 2px solid #b1e06f;
  padding-bottom: 24px;
  margin-bottom: 25px;
}
.content .search-for-services .search-for-services__search-form .wrap {
  display: inline-block;
  width: 500px;
  height: 43px;
  background: #424554;
  padding: 8px 19px;
}
.content .search-for-services .search-for-services__search-form .search-for-services__search-form-item-text {
  width: 429px;
  background: none;
  outline: none;
  border: none;
  font-size: 21px;
  color: #9b9eac;
}
.content .search-for-services .search-for-services__search-form .search-for-services__search-form-item-text::-webkit-input-placeholder {
  color: #9b9eac;
}
.content .search-for-services .search-for-services__search-form .search-for-services__search-form-item-text::-moz-placeholder {
  color: #9b9eac;
}
.content .search-for-services .search-for-services__search-form .search-for-services__search-form-item-text:-moz-placeholder {
  color: #9b9eac;
}
.content .search-for-services .search-for-services__search-form .search-for-services__search-form-item-text:-ms-input-placeholder {
  color: #9b9eac;
}
.content .search-for-services .search-for-services__search-form .search-for-services__search-form-item-button {
  border: none;
  outline: none;
  background: none;
  position: relative;
  top: 2px;
  padding: 0;
}
.content .services {
  padding: 115px 0 118px 0;
}
.content .services .services__heading {
  text-transform: uppercase;
  color: #282a33;
  font-size: 36px;
  font-weight: 700;
  border-bottom: 2px solid #b1e06f;
  padding-bottom: 29px;
  margin-bottom: 54px;
}
.content .services .padding-left {
  padding-left: 100px;
}
.content .services .services__group .services__group-heading {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 39px;
  font-weight: 700;
  color: #7c7d83;
  padding: 3px 0;
  border: 2px solid #b1e06f;
  margin-bottom: 29px;
}
.content .services .services__group .services__group-item {
  font-size: 21px;
  font-weight: 700;
  color: #7c7d83;
  display: block;
  margin-bottom: 26px;
}
.content .feedback {
  padding: 88px 0 104px 0;
  background: #292c3a;
  text-align: center;
}
.content .feedback .feedback__review-button {
  width: 287px;
  height: 58px;
  background: #b1e06f;
  border: none;
  outline: none;
  color: #282a33;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 36px;
}
.content .feedback .feedback__logo .feedback__logo-text {
  color: #7c7d83;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 11px;
}
.content .feedback .feedback__logo .feedback__logo-line {
  border-top: 2px solid #7c7d83;
  width: 36%;
  margin: 0 auto;
}
.content .feedback .feedback__question-button {
  width: 287px;
  height: 58px;
  background: #b1e06f;
  border: none;
  outline: none;
  color: #282a33;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 36px;
}
.content .experts {
  padding: 147px 0 85px 0;
  background: #b1e06f;
  text-align: center;
}
.content .experts .experts_heading {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  border-bottom: 2px solid #ffffff;
  display: inline-block;
  padding-bottom: 22px;
  margin-bottom: 88px;
}
.content .experts .owl-stage-outer {
  margin-bottom: 68px;
}
.content .experts .item__name {
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  margin: 26px 0 29px 0;
}
.content .experts .item__post {
  color: #292c3a;
  font-size: 13px;
}
.content .experts .owl-prev {
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -704px -5px;
  width: 12px;
  height: 20px;
  display: inline-block;
}
.content .experts .owl-next {
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -704px -5px;
  width: 12px;
  height: 20px;
  display: inline-block;
  background-position: -726px -5px;
  margin-left: 30px;
}
.content .offers {
  padding: 82px 0 59px 0;
  background: #ffffff;
  /*.flex {
      display: flex;
      justify-content: space-between;
    }*/
}
.content .offers .offers__heading {
  text-align: center;
  color: #282a33;
  font-size: 31px;
  font-weight: 600;
  padding-bottom: 23px;
  /*&::after{
        position:absolute;
        display: block;
        //top:0;
        //left:0;
        width:50%;
        border-bottom: 2px solid @light-green;
        content:"";*/
}
.content .offers .offers__heading-line {
  border-top: 2px solid #b1e06f;
  width: 36.5%;
  margin: 0 auto;
  margin-bottom: 88px;
}
.content .offers .offers__item {
  width: 287px;
  height: 57px;
  background: #292c3a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  margin-bottom: 88px;
  display: inline-block;
}
.content .offers .offers__item_center {
  width: 287px;
  height: 57px;
  background: #292c3a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  margin-bottom: 88px;
  display: inline-block;
  margin-left: 37px;
}
.content .offers .offers__item_to-right {
  width: 287px;
  height: 57px;
  background: #292c3a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  margin-bottom: 88px;
  display: inline-block;
  float: right;
}
.content .offers .offers__paragraphs {
  background: #f7f9f9;
  padding: 53px 33px;
}
.content .offers .offers__paragraphs .offers__paragraphs-item {
  color: #282a33;
  font-size: 23px;
  font-weight: 600;
  padding-bottom: 53px;
  border-bottom: 2px solid #b1e06f;
  margin-bottom: 53px;
  line-height: 26px;
}
.content .offers .offers__paragraphs .offers__paragraphs-item_no-line {
  color: #282a33;
  font-size: 23px;
  font-weight: 600;
  padding-bottom: 53px;
  border-bottom: 2px solid #b1e06f;
  margin-bottom: 53px;
  line-height: 26px;
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.content .offers .offers__description {
  background: #f7f9f9;
  padding: 0 37px 31px 37px;
}
.content .offers .offers__description .offers__description-important {
  width: 28px;
  height: 29px;
  background: #b1e06f;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  padding-top: 6px;
  float: right;
  margin-bottom: 38px;
}
.content .offers .offers__description .offers__description-heading {
  clear: both;
  color: #282a33;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 36px;
}
.content .offers .offers__description .offers__description-text {
  clear: both;
  color: #282a33;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 36px;
  color: #84868b;
  margin-bottom: 82px;
  line-height: 21px;
}
.content .offers .offers__description .offers__description-participate-button {
  background: none;
  width: 135px;
  height: 37px;
  border: 2px solid #292c3a;
  outline: none;
  text-transform: uppercase;
  margin-left: 150px;
}
.content .offers .offers__appointment-button {
  width: 287px;
  height: 58px;
  background: #b1e06f;
  border: none;
  outline: none;
  color: #282a33;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 36px;
  color: #ffffff;
  margin: 32px 0 0 442px;
}
.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}
.sprite.sprite-Bogdan {
  background-position: -5px -5px;
  width: 204px;
  height: 205px;
}
.sprite.sprite-Davalchenko {
  background-position: -219px -5px;
  width: 205px;
  height: 205px;
}
.sprite.sprite-Pashkina {
  background-position: -5px -220px;
  width: 205px;
  height: 205px;
}
.sprite.sprite-Vakulenchik {
  background-position: -220px -220px;
  width: 204px;
  height: 205px;
}
.sprite.sprite-Zolin {
  background-position: -434px -5px;
  width: 204px;
  height: 205px;
}
.sprite.sprite-about-clinic-left {
  background-position: -648px -5px;
  width: 18px;
  height: 36px;
}
.sprite.sprite-about-clinic-right {
  background-position: -676px -5px;
  width: 18px;
  height: 36px;
}
.sprite.sprite-doctor {
  background-position: -648px -51px;
  width: 151px;
  height: 151px;
}
.sprite.sprite-experts-left {
  background-position: -704px -5px;
  width: 12px;
  height: 20px;
}
.sprite.sprite-experts-right {
  background-position: -726px -5px;
  width: 12px;
  height: 20px;
}
.sprite.sprite-feedback-logo {
  background-position: -648px -212px;
  width: 33px;
  height: 57px;
}
.sprite.sprite-list {
  background-position: -434px -279px;
  width: 151px;
  height: 150px;
}
.sprite.sprite-logo {
  background-position: -595px -279px;
  width: 133px;
  height: 50px;
}
.sprite.sprite-loupe {
  background-position: -748px -5px;
  width: 16px;
  height: 17px;
}
.sprite.sprite-network {
  background-position: -595px -339px;
  width: 150px;
  height: 150px;
}
.sprite.sprite-placeholder {
  background-position: -5px -499px;
  width: 151px;
  height: 150px;
}
.sprite.sprite-time {
  background-position: -166px -499px;
  width: 151px;
  height: 150px;
}
